Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2020-08, with the labels that each got.

#8955 Fix YAML in service connection webhook example
  release-notes/2020/includes/pipelines/sprint-172-update.md
Labels: Change sent to author, aq-pr-triaged, devops-release-notes/tech, devops/prod, do-not-merge

#7327 Change publish example from pack to publish
  docs/pipelines/tasks/build/dotnet-core-cli.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops-cicd/tech, devops/prod, do-not-merge

#9001 Update docs to allow for SSL and non-SSL based examples
  docs/integrate/how-to/call-rest-api.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, ready-to-merge

#8918 Fix sample YAML file and output
  docs/pipelines/process/variables.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#8800 fix broken link
  docs/pipelines/agents/includes/v2/prepare-permissions.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#8956 Rephrasing description of agents
  docs/pipelines/agents/agents.md
  docs/pipelines/get-started/key-pipelines-concepts.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#9025 Corrected typo in scheduled-triggers.
  docs/pipelines/process/scheduled-triggers.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, ready-to-merge

#9028 fix typo #8996
  docs/organizations/settings/work/apply-rules-to-workflow-states.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#9039 Fix minor typo
  docs/pipelines/process/approvals.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, do-not-merge

#9046 Fix minor typo
  docs/pipelines/ecosystems/dotnet-core.md
Labels: Change sent to author, devops-cicd-ecosystems/tech, devops/prod, do-not-merge

#9064 Fix one typo and correct case for OS names
  release-notes/2020/includes/pipelines/sprint-173-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#9092 Typo "git repository"→"Git repository"
  docs/repos/tfvc/git-permission-command.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9093 added missing word to first paragraph
  docs/pipelines/troubleshooting/review-logs.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#7735 Fix reference to `phpunit` script
  docs/pipelines/ecosystems/php.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#9088 Azure Web App task page tidy ups
  docs/pipelines/tasks/deploy/azure-rm-web-app.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#7563 Remove documentation suggesting integration with Service Hooks
  docs/repos/git/pull-request-status.md
Labels: Change sent to author, aq-pr-triaged, devops-code-git/tech, devops/prod, do-not-merge

#9112 [TFVC] Fix compare file shortcut description
  docs/repos/tfvc/compare-files.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9101 Fix typo in merge-folders-files.md
  docs/repos/tfvc/merge-folders-files.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#9063 Fixed documentation ambiguity
  docs/repos/tfvc/merge-command.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#9056 document /format:xml parameter
  docs/repos/tfvc/workspaces-command.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#9054 Fix word difference between azure devops and docs
  docs/pipelines/ecosystems/includes/create-pipeline-before-template-selected.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#9089 Changing the databricks version to trial
  docs/pipelines/apps/cd/azure/build-data-pipeline.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-apps/tech, devops/prod, ready-to-merge

#9121 Removed "Click Apply"
  docs/pipelines/apps/windows/dot-net.md
Labels: Change sent to author, devops-cicd-apps/tech, devops/prod, ready-to-merge

#9114 Completion of the lab is first dependent on creating a Service Connec…
  docs/pipelines/ecosystems/kubernetes/aks-template.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, do-not-merge

#9097 Clarify which license is needed to allow editing a test case in the Test Runner
  docs/test/manual-test-permissions.md
Labels: Change sent to author, aq-pr-triaged, devops-test/tech, devops/prod, ready-to-merge

#9140 docs: add ssh usage docs for go get
  docs/repos/git/go-get.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, ready-to-merge

#9144 Update add-build-task.md
  docs/extend/develop/add-build-task.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, ready-to-merge

#8380 Update repository name in YAML sample
  docs/pipelines/tasks/build/docker.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9148 Update dotnet-client-libraries to use modern grammar.
  docs/integrate/concepts/dotnet-client-libraries.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, ready-to-merge

#9147 Fixed linebreak in environments-virtual-machines.md
  docs/pipelines/process/environments-virtual-machines.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, do-not-merge

#9153 Update dotnet-core-tool-installer.md
  docs/pipelines/tasks/tool/dotnet-core-tool-installer.md
Labels: Change sent to author, devops-cicd-tasks/tech, devops/prod, do-not-merge

#6957 Version Spec syntax specification
  docs/pipelines/tasks/tool/node-js.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops-cicd/tech, devops/prod, do-not-merge

#3899 Update from-travis.md
  docs/pipelines/migrate/from-travis.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#9175 supplemented status command description
  docs/repos/tfvc/status-command.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge
