Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2020-09, with the labels that each got.

#9208 Update object-limits.md
  docs/organizations/settings/work/object-limits.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#9168 Fix some random new lines
  docs/pipelines/process/conditions.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9169 Fix yaml example rendering
  docs/pipelines/process/conditions.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9214 Remind us that tokens may only be used to define a run number
  docs/pipelines/process/run-number.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, ready-to-merge

#9219 Added detailed description for user option values
  docs/repos/tfvc/status-command.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#8988 Pin the version of kubernetes in the deployment instructions so that kubernetes api changes won't break examples
  docs/pipelines/ecosystems/kubernetes/aks-template.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, do-not-merge

#9229 update uri (master->main) for scripts to generate agent vm
  docs/pipelines/agents/scale-set-agents.md
Labels: Change sent to author, devops-cicd-agents/tech, devops/prod, ready-to-merge

#9232 Fix typo in nuget-restore.md
  docs/pipelines/packages/nuget-restore.md
Labels: Change sent to author, devops-cicd-packages/tech, devops/prod, ready-to-merge

#9225 Update sprint-165-update.md
  release-notes/2020/sprint-165-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#9235 [variables] Plain script with `task.setvariable` captures trailing quote
  docs/pipelines/process/variables.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, ready-to-merge

#9213 This is a product restriction
  docs/pipelines/process/environments.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9259 azure artifacts feeds: fix capitalization of words
  docs/artifacts/feeds/feed-permissions.md
Labels: Change sent to author, devops-artifacts/tech, devops/prod, ready-to-merge

#9187 Make it simpler to Create a PAT
  docs/repos/git/includes/personal-access-tokens.md
  docs/repos/git/media/select-personal-access-tokens.jpg
Labels: Change sent to author, aq-pr-triaged, devops/prod, do-not-merge

#9269 Update add-external-user.md
  docs/organizations/accounts/add-external-user.md
Labels: Change sent to author, aq-pr-triaged, devops-accounts/tech, devops/prod, ready-to-merge

#9273 change in wiki mermaid support documentation
  docs/project/wiki/wiki-markdown-guidance.md
Labels: Change sent to author, aq-pr-triaged, devops-collab/tech, devops/prod, ready-to-merge

#9279 service endpoints: fix typo and punctuation
  docs/pipelines/library/service-endpoints.md
Labels: Change sent to author, devops-cicd-library/tech, devops/prod, do-not-merge

#9272 added command to create variable-group
  docs/pipelines/apps/cd/azure/build-data-pipeline.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-apps/tech, devops/prod, ready-to-merge

#9283 Documentation Tweaks for Creating a Build Task
  docs/extend/develop/add-build-task.md
Labels: Change sent to author, aq-pr-triaged, devops-ecosystem/tech, devops/prod, do-not-merge

#9286 Update delete-files.md
  docs/pipelines/tasks/utility/delete-files.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9284 correcting mistake for azure devops variables
  docs/pipelines/apps/cd/azure/build-data-pipeline.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-apps/tech, devops/prod, ready-to-merge

#9267 Added resources trigger related variables
  docs/pipelines/process/resources.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9299 Update sprint-172-update.md
  release-notes/2020/includes/pipelines/sprint-172-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#9313 Update troubleshoot-github-connection.md
  docs/boards/github/troubleshoot-github-connection.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#9321 plist should be all lowercase
  docs/pipelines/tasks/build/xcode.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9297 Adding a comment about "--once" flag to start.sh
  docs/pipelines/agents/docker.md
Labels: Change sent to author, aq-pr-triaged, azure-devops/prod, devops-cicd-agents/tech, devops/prod, ready-to-merge

#9296 Update Failing checkout section
  docs/pipelines/repos/github-enterprise.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-repos/tech, devops/prod, ready-to-merge

#9293 Update docker.md
  docs/pipelines/agents/docker.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#9242 Update Linux SHA firewall FAQ
  docs/pipelines/agents/includes/v2/qa-firewall.md
  docs/pipelines/agents/includes/v2/web-proxy-bypass.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#9375 Use valid archiveFilePatterns pattern
  docs/pipelines/tasks/includes/yaml/ExtractFilesV1.md
Labels: Change sent to author, devops-cicd-tasks/tech, devops/prod, ready-to-merge

#9386 Correct Deployment jobs link
  docs/pipelines/get-started/pipelines-get-started.md
Labels: Change sent to author, devops-cicd-get-started/tech, devops/prod, do-not-merge
