Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2020-06, with the labels that each got.

#8511 fixes markdown list from a and b to *
  docs/pipelines/process/runs.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, ready-to-merge

#8278 Fix pattern: * * to **
  docs/pipelines/tasks/utility/download-pipeline-artifact.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#8588 Grammatical change to server choice
  docs/user-guide/what-is-azure-devops.md
Labels: Change sent to author, devops-new-user/tech, devops/prod, ready-to-merge

#7600 Add links to the specific tasks.
  docs/pipelines/tasks/utility/copy-and-publish-build-artifacts.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#8607 Bash task: default for failOnStderr is false.
  docs/pipelines/tasks/utility/bash.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, ready-to-merge

#8624 Add missing parenthesis
  docs/repos/get-started/what-is-repos.md
Labels: Change sent to author, devops-new-user/tech, devops/prod, do-not-merge

#8549 Typo "**@CurrentIteration**"→"**\@CurrentIteration**"
  docs/boards/plans/safe-configure-boards.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#8249 Add yamlschema endpoint link
  docs/pipelines/yaml-schema.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#8633 Fix typo
  release-notes/2020/sprint-170-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#8640 Update change-application-access-policies.md
  docs/organizations/accounts/change-application-access-policies.md
Labels: Change sent to author, aq-pr-triaged, devops-accounts/tech, devops/prod, do-not-merge

#8613 Link to azure-devops StackOverflow tag
  docs/pipelines/test/includes/help-and-support-footer.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#8558 added an example on debug logs in YAML
  docs/pipelines/troubleshooting/review-logs.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#8645 Fix typo in ##Ports section
  docs/pipelines/process/service-containers.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, do-not-merge

#8587 Mention pipeline artifact tasks clearly in docs
  docs/pipelines/process/resources.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#6979 Fix typo in DotNetCLI publish heading example
  docs/pipelines/tasks/build/dotnet-core-cli.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#8666 Update allow-list-ip-url.md for Graph endpoint
  docs/organizations/security/allow-list-ip-url.md
Labels: Change sent to author, devops-security/tech, devops/prod, ready-to-merge

#8667 Update deployment-jobs.md
  docs/pipelines/process/deployment-jobs.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#8655 Added clarification for the nuget package needed for Coverlet code coverage
  docs/pipelines/ecosystems/dotnet-core.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, ready-to-merge

#8681 Update condition docs to cover cancelation
  docs/pipelines/process/conditions.md
  docs/pipelines/process/expressions.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, ready-to-merge

#8691 update links to the blog post referenced to fix the internet 😁
  docs/boards/plans/safe-customize.md
  docs/boards/plans/scaled-agile-framework.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#8721 Fix up Git PAT examples
  docs/repos/git/includes/personal-access-tokens.md
Labels: Change sent to author, devops/prod, ready-to-merge

#8725 Remove duplicated sentence
  docs/pipelines/build/includes/variables-hosted.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#8739 Update sprint-171-update.md
  release-notes/2020/sprint-171-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#8741 Selenium hq links now redirect to selenium dev
  docs/pipelines/test/continuous-test-selenium.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-test/tech, devops/prod, do-not-merge

#8742 Fix PowerShell commands for newer modules
  docs/organizations/projects/restore-project.md
Labels: Change sent to author, devops-accounts/tech, devops/prod, do-not-merge
