Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2020-10, with the labels that each got.

#9409 Pipelines YAML Schema: publish/download displayName
  docs/pipelines/yaml-schema.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, ready-to-merge

#7411 Update install-ssh-key.md
  docs/pipelines/tasks/utility/install-ssh-key.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops-cicd/tech, devops/prod, do-not-merge

#9410 Fix typo
  docs/boards/plans/safe-plan-track-boards.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#6479 Update version number and indentation
  docs/pipelines/tasks/deploy/azure-app-service-settings.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#9428 Correct typos in service-status-info.md
  docs/user-guide/service-status-info.md
Labels: Change sent to author, devops-new-user/tech, devops/prod, ready-to-merge

#9433 Typo "～TFS 2015 **"→"TFS 2015**"
  docs/repos/git/share-your-code-in-git-vs.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, do-not-merge

#9434 Typo "Command Prompt **"→"Command Prompt**"
  docs/repos/tfvc/associate-file-type-file-comparison-tool.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9432 Typo "～TFS 2015 **"→"TFS 2015**"
  docs/repos/git/share-your-code-in-git-vs-2013.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, do-not-merge

#9441 grammar
  docs/pipelines/agents/v2-windows.md
Labels: Change sent to author, devops-cicd-agents/tech, devops/prod, do-not-merge

#9446 Fix typo in Approvals section
  docs/pipelines/process/approvals.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, do-not-merge

#9449 Typo "～TFS 2015 **"→"～TFS 2015**"
  docs/repos/git/get-started-vs2013.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, do-not-merge

#9448 Typo "～VS 2017 **"→"～VS 2017**"
  docs/repos/git/gitquickstart.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, do-not-merge

#9447 Typo "～TFS 2015 **"→"～TFS 2015**"
  docs/repos/git/share-your-code-in-git-vs-2017.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, do-not-merge

#9373 Fix template reference
  docs/pipelines/process/templates.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9478 Fixed typo
  docs/organizations/settings/work/change-process-scrum-to-agile.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#9481 Fix copy typo in docs/pipelines/index.yml
  docs/pipelines/index.yml
Labels: do-not-merge, review-team-triage

#9489 Updates compatibility notes for ##vso[release.updatereleasename]
  docs/pipelines/scripts/logging-commands.md
Labels: Change sent to author, devops-cicd-scripts/tech, devops/prod, do-not-merge

#9503 Specifying what a 'new user' is.
  docs/organizations/security/restrict-invitations.md
Labels: Change sent to author, aq-pr-triaged, devops-security/tech, devops/prod, ready-to-merge

#9504 Typo "** Check-in Policy**"→""**Check-in Policy**
  docs/repos/tfvc/edit-check-policies.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9509 Inserted a missing 'in'.
  docs/repos/git/merging.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, do-not-merge

#9510 Update cycle-time-and-lead-time with filter criteria
  docs/report/dashboards/cycle-time-and-lead-time.md
Labels: Change sent to author, aq-pr-triaged, devops-analytics/tech, devops/prod, do-not-merge

#9506 Added AKS and ACR integration also common error and how to fixit
  docs/pipelines/agents/docker.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#9327 Explains which JSON variables are ignored.
  docs/pipelines/tasks/utility/file-transform.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9531 Update migration-overview.md
  docs/migrate/migration-overview.md
Labels: Change sent to author, devops-migrate/tech, devops/prod, do-not-merge

#8659 Added documentation link to SiteConfig object for "general settings"
  docs/pipelines/tasks/deploy/azure-app-service-settings.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9540 Fix broken link
  docs/migrate/migration-overview.md
Labels: Change sent to author, devops-migrate/tech, devops/prod, do-not-merge

#9535 Fix wrong code sample in PAT
  docs/repos/git/includes/personal-access-tokens.md
Labels: Change sent to author, aq-pr-triaged, devops/prod, do-not-merge

#9542 fix(missing) missing command
  docs/extend/get-started/node.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, do-not-merge

#8622 Without explicitly adding an app identity role, the task will fail
  docs/pipelines/tasks/deploy/azure-file-copy-version3.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#7967 Add note that publishWebProjects defaults to true
  docs/pipelines/tasks/build/dotnet-core-cli.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#9537 Various improvements to variable descriptions
  docs/pipelines/build/includes/variables-hosted.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#9561 Update environments-virtual-machines.md
  docs/pipelines/process/environments-virtual-machines.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, do-not-merge

#9563 Update deployment-jobs.md
  docs/pipelines/process/deployment-jobs.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, do-not-merge

#9570 Typo "**@Today**"→"**@\Today**"
  docs/boards/queries/query-by-date-or-current-iteration.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#9571 Typo "**@mentions**"→"**\@mentions**"
  docs/organizations/settings/about-settings.md
Labels: Change sent to author, devops-settings/tech, devops/prod, do-not-merge

#9573 Typo "**@mentions**"→"**\@mentions**"
  docs/organizations/settings/about-teams-and-settings.md
Labels: Change sent to author, devops-settings/tech, devops/prod, do-not-merge

#9574 Typo "**@Follows**"→"**\@Follows**"
  docs/boards/work-items/follow-work-items.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#9575 Typo "**@mention**"→"**\@mention**"
  docs/notifications/at-mentions.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#9501 Repair docker example. Solves #9476
  docs/pipelines/release/caching.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge

#9577 Add detail around collection admins
  docs/organizations/accounts/azure-ad-tenant-policy-restrict-org-creation.md
Labels: Change sent to author, aq-pr-triaged, devops-accounts/tech, devops/prod, do-not-merge

#9576 Add detail around Collection Admin
  docs/organizations/accounts/resolve-orphaned-organization.md
Labels: Change sent to author, aq-pr-triaged, devops-accounts/tech, devops/prod, do-not-merge
