Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2020-07, with the labels that each got.

#8752 Wrap GitHttpClient code samples in using(...)
  docs/integrate/concepts/dotnet-client-libraries.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, do-not-merge

#8758 emphasize case sensitivity
  docs/pipelines/repos/includes/ci-triggers1.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#8762 added example to powershell task.
  docs/pipelines/tasks/utility/powershell.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, ready-to-merge

#8779 typo: teh -> the
  docs/pipelines/repos/includes/qa2.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#8798 typo in Link (additional left parantheses)
  docs/pipelines/agents/hosted.md
Labels: Change sent to author, devops-cicd-agents/tech, devops/prod, do-not-merge

#8684 Clarify project deletion steps
  docs/organizations/projects/delete-project.md
Labels: Change sent to author, aq-pr-triaged, devops-accounts/tech, devops/prod, ready-to-merge

#8771 Replacing the use of word "master" with "main" throughout the article.
  docs/repos/git/media/branching-guidance/featurebranching.png
  docs/repos/git/media/branching-guidance/releasebranching_main.png
  docs/repos/git/media/branching-guidance/releasebranching_master.png
  docs/repos/git/media/branching-guidance/releasebranching_release.png
Labels: aq-pr-triaged, devops/svc, do-not-merge, review-team-triage

#8807 Image tag broken
  docs/pipelines/troubleshooting/troubleshooting.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#8821 Terminology update
  docs/repos/git/git-branching-guidance.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, do-not-merge

#8793 Update helm-deploy.md
  docs/pipelines/tasks/deploy/helm-deploy.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, ready-to-merge

#8835 Update repeat-test-with-different-data.md
  docs/test/repeat-test-with-different-data.md
Labels: Change sent to author, devops-test/tech, devops/prod, do-not-merge

#8848 Update permissions.md
  docs/organizations/security/permissions.md
Labels: Change sent to author, aq-pr-triaged, devops-security/tech, devops/prod, do-not-merge

#5994 Added guide when tfx missing
  docs/extend/get-started/node.md
Labels: Change sent to author, aq-pr-triaged, devops-ecosystem/tech, devops/prod, do-not-merge

#8481 Adding permissions level
  docs/artifacts/nuget/upstream-sources.md
Labels: Change sent to author, aq-pr-triaged, devops-artifacts/tech, devops/prod, ready-to-merge

#8874 fix typo
  docs/boards/configure-customize.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#8770 Update FAQ of conditions
  docs/pipelines/process/conditions.md
Labels: aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#8809 Tasks supported in agentless jobs
  docs/pipelines/process/phases.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, do-not-merge

#8882 Fixed broken links
  docs/pipelines/process/phases.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, do-not-merge

#8888 Changed depricated MochaDone to Mocha.Done in sample code
  docs/extend/develop/add-build-task.md
Labels: Change sent to author, aq-pr-triaged, devops-ecosystem/tech, devops/prod, do-not-merge

#8869 Update allow-list-ip-url.md
  docs/organizations/security/allow-list-ip-url.md
Labels: Change sent to author, aq-pr-triaged, devops-security/tech, devops/prod, do-not-merge

#8265 Add Python caching documentation
  docs/pipelines/release/caching.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops-cicd/tech, devops/prod, ready-to-merge

#8897 Typo correction
  docs/pipelines/process/approvals.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, do-not-merge

#8905 Update sprint-172-update.md
  release-notes/2020/includes/boards/sprint-172-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#7836 Fix for Singular folder names rather than plural #1564
  docs/repos/git/require-branch-folders.md
Labels: Change sent to author, aq-pr-triaged, devops-code-git/tech, devops/prod, do-not-merge

#8822 Update the path
  docs/pipelines/apps/aspnet/build-aspnet-4.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-apps/tech, devops/prod, ready-to-merge

#8309 Statement Correction at line 53
  docs/pipelines/tasks/build/msbuild.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#8919 Added a note for users who have more subscriptions
  docs/organizations/billing/change-azure-subscription.md
Labels: Change sent to author, devops-billing/tech, devops/prod, ready-to-merge

#8925 Update configure-test-results-trend.md
  docs/report/dashboards/configure-test-results-trend.md
Labels: Change sent to author, aq-pr-triaged, devops-analytics/tech, devops/prod, do-not-merge

#8931 Update scale-set-agents.md
  docs/pipelines/agents/scale-set-agents.md
Labels: Change sent to author, devops-cicd-agents/tech, devops/prod, ready-to-merge

#7541 Fix paths relative to SVN prefix
  docs/repos/git/perform-migration-from-svn-to-git.md
Labels: Change sent to author, aq-pr-triaged, devops-code-git/tech, devops/prod, ready-to-merge

#8961 Added indentation for JSON examples
  docs/extend/develop/auth-schemes.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, ready-to-merge

#7415 Adding a Note about fetching before merging
  docs/repos/git/pulling.md
Labels: Change sent to author, aq-pr-triaged, devops-code-git/tech, devops/prod, do-not-merge

#8964 Removing extra ">>" in the "Public Project"
  docs/organizations/projects/toc.yml
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#8970 Fix: Authentication schema's examples are not correct
  docs/extend/develop/auth-schemes.md
Labels: Change sent to author, aq-pr-triaged, devops-ecosystem/tech, devops/prod, ready-to-merge
