Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2020-11, with the labels that each got.

#9590 Changed MacOS 10.14 Readme link.
  docs/pipelines/agents/hosted.md
Labels: Change sent to author, devops-cicd-agents/tech, devops/prod, do-not-merge

#9596 Correction on the format for branch name
  docs/pipelines/process/approvals.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, do-not-merge

#9608 Fixing formatting errors in manifest-discovery.md
  docs/extend/includes/manifest-discovery.md
Labels: Change sent to author, devops/prod, do-not-merge

#9616 Update reactivations-report.md
  docs/report/sql-reports/reactivations-report.md
Labels: Change sent to author, aq-pr-triaged, devops-analytics/tech, devops/prod, do-not-merge

#9609 Update troubleshoot-connection.md
  docs/user-guide/troubleshoot-connection.md
Labels: Change sent to author, aq-pr-triaged, devops-new-user/tech, devops/prod, do-not-merge

#9619 Update reactivations-report.md
  docs/report/sql-reports/reactivations-report.md
Labels: Change sent to author, devops-analytics/tech, devops/prod, do-not-merge

#9016 Fix minor typo in sprint-170-update.md
  release-notes/2020/includes/pipelines/sprint-170-update.md
Labels: Change sent to author, aq-pr-triaged, devops-release-notes/tech, devops/prod, do-not-merge

#9620 Update overview.md
  docs/test/load-test/overview.md
Labels: Change sent to author, aq-pr-triaged, devops-test/tech, devops/prod, ready-to-merge

#9629 Update copy-files.md
  docs/pipelines/tasks/utility/copy-files.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9633 Fixing typo for #9632
  docs/test/run-automated-tests-from-test-hub.md
Labels: Change sent to author, devops-test/tech, devops/prod, do-not-merge

#9635 Fixing incorrect link to Visual Studio Test task
  docs/test/run-automated-tests-from-test-hub.md
Labels: Change sent to author, devops-test/tech, devops/prod, do-not-merge

#9637 Replacing "activates" with "activities"
  docs/test/run-automated-tests-from-test-hub.md
Labels: Change sent to author, devops-test/tech, devops/prod, do-not-merge

#9492 Adding information on how to renew a client secret for auto generated SPN via service connection
  docs/pipelines/release/azure-rm-endpoint.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge

#9645 Update docs to reflect allowed localhost
  docs/integrate/get-started/authentication/oauth.md
Labels: Change sent to author, aq-pr-triaged, devops-ecosystem/tech, devops/prod, do-not-merge

#9651 typo
  docs/report/sql-reports/reporting-services-reports.md
Labels: Change sent to author, devops-analytics/tech, devops/prod, do-not-merge

#9568 Update get-status-badge.md
  docs/pipelines/includes/get-status-badge.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#9584 Make list of agentless tasks visible
  docs/pipelines/process/phases.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9593 Changed the syntax for the add extension to the correct one, was miss…
  docs/pipelines/apps/cd/azure/build-data-pipeline.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-apps/tech, devops/prod, ready-to-merge

#9603 Fix Bash syntax
  docs/pipelines/scripts/logging-commands.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-scripts/tech, devops/prod, ready-to-merge

#9653 Updated button name
  docs/pipelines/ecosystems/includes/create-pipeline-before-template-selected.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#9660 Fixed example with output variable
  docs/pipelines/scripts/logging-commands.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-scripts/tech, devops/prod, ready-to-merge

#9663 Update scheduled-triggers.md
  docs/pipelines/process/scheduled-triggers.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9668 Update organizations/security/allow-list-ip-url.md
  docs/organizations/security/allow-list-ip-url.md
Labels: Change sent to author, aq-pr-triaged, devops-security/tech, devops/prod, do-not-merge

#9680 Update use-subscription-logging.md
  docs/notifications/use-subscription-logging.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#9683 Add a missing 'to'
  docs/cli/index.md
Labels: Change sent to author, devops-reference/tech, devops/prod, do-not-merge

#9701 Fix bug in mocha example in add-build-task.md
  docs/extend/develop/add-build-task.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, do-not-merge

#9721 access levels: fix text of portfolio backlog
  docs/organizations/security/access-levels.md
Labels: Change sent to author, devops-security/tech, devops/prod, do-not-merge

#9709 Detailed Manual build reason
  docs/pipelines/build/includes/variables-tfs2018.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#9745 Updated team-velocity.md
  docs/report/dashboards/media/team-velocity-set-iteration-dates.png
  docs/report/dashboards/team-velocity.md
Labels: Change sent to author, devops-analytics/tech, devops/prod, do-not-merge

#9714 Update header of Build Numbers
  release-notes/features-timeline.md
Labels: Change sent to author, aq-pr-triaged, devops-release-notes/tech, devops/prod, do-not-merge

#9738 Allow *.dev.azure.com instead *dev.azure.com
  docs/organizations/security/allow-list-ip-url.md
Labels: Change sent to author, aq-pr-triaged, devops-security/tech, devops/prod, do-not-merge

#9676 Fix docker load command in caching example
  docs/pipelines/release/caching.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge
