Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2020-12, with the labels that each got.

#9749 added note about rev numbering gotcha
  docs/pipelines/process/run-number.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9775 Update best-practices-agile-project-management.md
  docs/boards/best-practices-agile-project-management.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#9778 Grammatical fix in create-first-pipeline.md
  docs/pipelines/create-first-pipeline.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#9787 Update aks-template.md with the whitelisting of IP addresses
  docs/pipelines/ecosystems/kubernetes/aks-template.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, do-not-merge

#9789 Update azure-function-app.md to deploy to ASE
  docs/pipelines/tasks/deploy/azure-function-app.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9795 Corrected the description for Contributors
  docs/organizations/security/permissions.md
Labels: Change sent to author, devops-security/tech, devops/prod, do-not-merge

#9799 Update create-a-readme.md
  docs/repos/git/create-a-readme.md
Labels: Change sent to author, aq-pr-triaged, devops-code-git/tech, devops/prod, do-not-merge

#9816 Update allow-list-ip-url.md
  docs/organizations/security/allow-list-ip-url.md
Labels: Change sent to author, devops-security/tech, devops/prod, ready-to-merge

#9813 Added missing comma in extension manifest
  docs/extend/develop/add-hub.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, do-not-merge

#9835 Added missing letter on extension
  docs/repos/tfvc/add-command.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#9834 Added missing letter on extension
  docs/repos/tfvc/checkout-or-edit-command.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#9837 Added missing letter on extension
  docs/repos/tfvc/view-command.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#9836 Added missing letter on extension
  docs/repos/tfvc/rename-command-team-foundation-version-control.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#9811 Document 'force32bit' argument for NodeToolv0
  docs/pipelines/tasks/includes/yaml/NodeToolV0.md
  docs/pipelines/tasks/tool/node-js.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9771 Update run-manual-tests.md
  docs/test/run-manual-tests.md
Labels: Change sent to author, aq-pr-triaged, devops-test/tech, devops/prod, ready-to-merge

#9831 Clarifying details
  docs/pipelines/yaml-schema.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#9848 Update track-test-status.md
  docs/test/track-test-status.md
Labels: Change sent to author, aq-pr-triaged, devops-test/tech, devops/prod, ready-to-merge

#9779 Update azure-file-copy.md with ip-ranges to be whitelisted
  docs/pipelines/tasks/deploy/azure-file-copy.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9773 Corrected case on `action` options
  docs/pipelines/tasks/includes/yaml/AzureAppServiceManageV0.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9717 Update azure-policy.md for policy checks
  docs/pipelines/tasks/deploy/azure-policy.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9718 Update approvals.md for Check policy compliance
  docs/pipelines/process/approvals.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, do-not-merge

#9715 configuring Key Vault's firewall
  docs/pipelines/tasks/deploy/azure-key-vault.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9702 Update number of jobs run
  docs/pipelines/customize-pipeline.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#9840 Updating troubleshooting section
  docs/pipelines/tasks/deploy/azure-resource-group-deployment.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9697 Graceful Agent Cleanup
  docs/pipelines/agents/docker.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#9827 Update stages.md
  docs/pipelines/process/stages.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9832 Update github-actions.md
  docs/pipelines/ecosystems/github-actions.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, ready-to-merge

#9872 Fix to typo in keyword "postRouteTaffic", instead expected "postRouteTraffic"
  docs/pipelines/process/deployment-jobs.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, ready-to-merge

#9881 Fix link
  docs/pipelines/policies/permissions.md
Labels: Change sent to author, devops-cicd-policies/tech, devops/prod, do-not-merge

#9888 Add backtick formatting for consistency
  docs/pipelines/tasks/deploy/azure-resource-group-deployment.md
Labels: Change sent to author, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9889 Minor grammar fixes
  docs/pipelines/tasks/deploy/azure-resource-group-deployment.md
Labels: Change sent to author, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9885 Update what-is-azure-devops.md
  docs/user-guide/what-is-azure-devops.md
Labels: Change sent to author, devops-new-user/tech, devops/prod, do-not-merge

#9149 Update content-trust.md
  docs/pipelines/ecosystems/containers/content-trust.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, do-not-merge

#9907 Remove the extra space after dependsOn in yaml-schema.md
  docs/pipelines/yaml-schema.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge
