Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-11, with the labels that each got.

#11207 Add output stream actions to PowerShell task docs
  docs/pipelines/tasks/includes/yaml/PowerShellV2.md
  docs/pipelines/tasks/utility/powershell.md
  docs/pipelines/yaml-schema.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11578 Update best-practices-agile-project-management.md
  docs/boards/best-practices-agile-project-management.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#11071 Clarify the usage of a service connection for Azure RG deployment task
  docs/pipelines/tasks/deploy/azure-resource-group-deployment.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#10989 Update git-tags.md
  docs/repos/git/git-tags.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech, aq-pr-triaged

#10872 Update DockerHub references to MCR.
  docs/pipelines/tasks/test/publish-test-results.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11565 Fix receiving signals in start.sh
  docs/pipelines/agents/docker.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-agents/tech

#11589 Update change-email-address.md
  docs/notifications/change-email-address.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-collab/tech, aq-pr-triaged

#11613 Update approvals.md
  docs/pipelines/process/approvals.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-process/tech

#11636 Update permissions-access-boards.md
  docs/boards/get-started/permissions-access-boards.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#11640 Correct grammar: ? to .
  docs/pipelines/agents/hosted.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-agents/tech

#11495 Fixed copy-paste error that referred to changing work item types...
  docs/boards/backlogs/move-change-type.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech, aq-pr-triaged

#11671 Update DownloadPipelineArtifact@2 inputs
  docs/pipelines/targets/webapp.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-targets/tech
