Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-03, with the labels that each got.

#9911 Update pipeline caching docs to include task example for Golang
  docs/pipelines/release/caching.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge

#9710 Improve step 4 of "Create .. PowerShell module.."
  docs/artifacts/tutorials/private-powershell-library.md
Labels: Change sent to author, aq-pr-triaged, devops-artifacts/tech, devops/prod, do-not-merge

#10260 Updated helpMarkDown for azure-resource-group-deployment
  docs/pipelines/tasks/deploy/azure-resource-group-deployment.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10290 Add UI/Ingestion Confusion to Upstreams FAQ
  docs/artifacts/how-to/set-up-upstream-sources.md
Labels: Change sent to author, aq-pr-triaged, devops-artifacts/tech, devops/prod, do-not-merge

#10300 Update restore-project.md
  docs/organizations/projects/restore-project.md
Labels: Change sent to author, devops-accounts/tech, devops/prod, do-not-merge

#10299 Update restore-project.md
  docs/organizations/projects/restore-project.md
Labels: Change sent to author, devops-accounts/tech, devops/prod, do-not-merge

#10317 Removed extra \
  docs/organizations/audit/azure-devops-auditing.md
Labels: Change sent to author, aq-pr-triaged, devops-audit/tech, devops/prod, do-not-merge

#10234 Update templates.md
  docs/pipelines/process/templates.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, do-not-merge

#10344 Removing a Rogue Anchor Tag
  docs/extend/extension-report.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, do-not-merge

#9806 Fix copy paste error in code block comment
  docs/pipelines/tasks/package/universal-packages.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9790 Update azure-file-copy.md while making use of Azure file copy task
  docs/pipelines/tasks/deploy/azure-file-copy.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9780 Update deploy-to-azure-vscode.md
  docs/pipelines/targets/deploy-to-azure-vscode.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-targets/tech, devops/prod, do-not-merge

#9626 Updated FAQ
  docs/pipelines/ecosystems/containers/build-image.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, do-not-merge

#8575 Update servicenow.md
  docs/pipelines/release/approvals/servicenow.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge

#9606 Update connect-to-azure.md
  docs/pipelines/library/connect-to-azure.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-library/tech, devops/prod, do-not-merge

#9805 Adding section stage depending in job output
  docs/pipelines/process/expressions.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, do-not-merge

#10081 Added example of coverage settings
  docs/pipelines/test/codecoverage-for-pullrequests.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-test/tech, devops/prod, do-not-merge

#10023 Docker-compose: Fix ports configuration
  docs/pipelines/tasks/build/docker-compose.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10008 Added rolloutStatusTimeout as available option
  docs/pipelines/tasks/deploy/kubernetes-manifest.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10004 Update publish-test-results.md
  docs/pipelines/tasks/test/publish-test-results.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10144 Updated doc for AzurePowerShell task to latest version
  docs/pipelines/tasks/deploy/azure-powershell.md
  docs/pipelines/tasks/includes/yaml/AzurePowerShellV5.md
  docs/pipelines/tasks/includes/yaml/AzurePowerShellV5Sample.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10297 Update the CASE REVIEW #1783482
  docs/pipelines/release/azure-rm-endpoint.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge

#10301 Updating the links in the resources and service connections library
  docs/pipelines/library/service-endpoints.md
  docs/pipelines/process/resources.md
  docs/pipelines/process/templates.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, do-not-merge

#10303 `publishWebProjects` argument behaviour update
  docs/pipelines/tasks/build/dotnet-core-cli.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10318 Update nuget.md
  docs/pipelines/tasks/package/nuget.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10310 Corrected spacing in yaml example
  docs/pipelines/tasks/utility/manual-validation.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10278 Add troubleshoot for TeamServicesAgent/TeamServicesAgentLinux vm extension
  docs/pipelines/release/deployment-groups/howto-provision-deployment-group-agents.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge

#10222 Update CASE REVIEW #1756803
  docs/pipelines/create-first-pipeline.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#10231 Example NuGet custom fixed
  docs/pipelines/tasks/package/nuget.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, ready-to-merge

#10253 update CASE REVIEW #1780767
  docs/pipelines/troubleshooting/troubleshooting.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#10257 Update CASE REVIEW #1779941
  docs/pipelines/troubleshooting/troubleshooting.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#10258 Update CASE REVIEW #1777436 and #1767495
  docs/pipelines/troubleshooting/troubleshooting.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#10137 Update the CASE REVIEW #1761298
  docs/pipelines/ecosystems/javascript.md
  docs/pipelines/release/deployment-groups/deploying-azure-vms-deployment-groups.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops-cicd-release/tech, devops/prod, do-not-merge

#10135 update case review #1759226
  docs/pipelines/ecosystems/javascript.md
  docs/pipelines/release/azure-rm-endpoint.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, do-not-merge

#10223 Update CASE REVIEW #1779345
  docs/pipelines/library/connect-to-azure.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-library/tech, devops/prod, do-not-merge

#10259 Added TSG to VMSS task for Permission Denied
  docs/pipelines/tasks/deploy/azure-vmss-deployment.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9851 Add link to YAML usage in manual-intervention.md
  docs/pipelines/tasks/utility/manual-intervention.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10069 Clarify parameter use in k8s manifest task
  docs/pipelines/tasks/deploy/kubernetes-manifest.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10064 Update teams.md
  docs/service-hooks/services/teams.md
Labels: Change sent to author, aq-pr-triaged, devops-collab/tech, devops/prod, do-not-merge

#10255 Update CASE REVIEW #1782864
  docs/pipelines/release/azure-rm-endpoint.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge

#10367 Repo sync fixes
  docs/pipelines/create-first-pipeline.md
  docs/pipelines/tasks/deploy/azure-vmss-deployment.md
Labels: do-not-merge

#10389 Remove redundant Qs and incorrect QA combinations.
  docs/boards/backlogs/office/faqs.yml
Labels: Change sent to author, devops/prod, do-not-merge

#10392 Fix indent
  docs/boards/backlogs/office/faqs.yml
Labels: Change sent to author, devops/prod, do-not-merge

#10395 removed repeated word
  docs/pipelines/get-started/multi-stage-pipelines-experience.md
Labels: Change sent to author, devops-cicd-get-started/tech, devops/prod, ready-to-merge

#10396 Whitelist of build artifact download url
  docs/pipelines/agents/includes/v2/qa-firewall.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, ready-to-merge

#10399 Remove duplicate reference to az boards iteration
  docs/organizations/settings/set-iteration-paths-sprints.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10384 Update azure-iot-edge.md
  docs/pipelines/tasks/build/azure-iot-edge.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10405 fix: Fix a small typo
  docs/project/wiki/markdown-guidance.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#10410 Fix link to "Create a new repo"
  docs/repos/git/index.yml
Labels: Change sent to author, devops/prod, do-not-merge

#10414 Remove redundant info from KubernetesManifest docs
  docs/pipelines/tasks/deploy/kubernetes-manifest.md
Labels: Change sent to author, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10441 Resolve syncing conflicts from repo_sync_working_branch to master
  docs/artifacts/concepts/best-practices.md
  docs/pipelines/artifacts/artifacts-overview.md
Labels: Change sent to author, devops-artifacts/tech, devops/prod, do-not-merge

#10438 update(migration-overview): New Version Support
  docs/migrate/migration-overview.md
Labels: Change sent to author, aq-pr-triaged, devops-migrate/tech, devops/prod, do-not-merge

#10387 Prettify layout for better readability
  docs/boards/sprints/task-board.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge
