Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-07, with the labels that each got.

#11027 Added missing task link
  docs/pipelines/tasks/includes/task-list.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#11006 Fix typo in unattended-config.md
  docs/pipelines/agents/includes/v2/unattended-config.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, do-not-merge

#11001 Address issue.
  docs/pipelines/create-first-pipeline.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#11002 Changed default value for branchName in Download Build Artifacts task
  docs/pipelines/tasks/utility/download-build-artifacts.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#11031 Update namespace-reference.md
  docs/organizations/security/namespace-reference.md
Labels: Change sent to author, aq-pr-triaged, devops-security/tech, devops/prod, do-not-merge

#11045 Fix link to .artifactignore reference
  docs/pipelines/artifacts/pipeline-artifacts.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-artifacts/tech, devops/prod, ready-to-merge

#11028 Added info about remaining work field update in CMMI process
  docs/boards/sprints/task-board.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#11054 Update publish-repo-to-wiki.md
  docs/project/wiki/publish-repo-to-wiki.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#10932 Update approvals.md
  docs/pipelines/process/approvals.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, do-not-merge

#10984 Adding an additional option for preserving VC tags and labels
  docs/pipelines/policies/retention.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-policies/tech, devops/prod, ready-to-merge

#10974 Update conditions.md
  docs/pipelines/process/conditions.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#11066 Update what-is-azure-pipelines.md
  docs/pipelines/get-started/what-is-azure-pipelines.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-get-started/tech, devops/prod, ready-to-merge

#11069 remove useless character
  docs/pipelines/get-started/pipelines-sign-up.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#11091 Add 'enabled: true' flag to schema of container resource trigger.
  docs/pipelines/process/resources.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, do-not-merge, ready-to-merge

#11118 Make options for use of PAT much clearer
  docs/cli/log-in-via-pat.md
Labels: Change sent to author, devops-reference/tech, devops/prod, do-not-merge

#11122 Update log-in-via-pat.md
  docs/cli/log-in-via-pat.md
Labels: Change sent to author, devops-reference/tech, devops/prod, do-not-merge

#11126 Update overview.md
  docs/test/overview.md
Labels: Change sent to author, devops-test/tech, devops/prod, do-not-merge

#11114 Include Manual Validation in list of server tasks
  docs/pipelines/process/phases.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#11139 Improve the docs
  docs/extend/develop/add-build-task.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, do-not-merge
