Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-06, with the labels that each got.

#10825 correct reference for runOnce-Strategy
  docs/pipelines/process/deployment-jobs.md
Labels: devops-cicd-process/tech, devops/prod, ready-to-merge

#10840 Fix typo in secure-files.md
  docs/pipelines/library/secure-files.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-library/tech, devops/prod, do-not-merge

#10869 Replace email with a link to form for free tier request
  docs/pipelines/licensing/concurrent-jobs.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-licensing/tech, devops/prod

#10810 Added tip to omit project name in repo URLs
  docs/artifacts/tutorials/private-powershell-library.md
Labels: Change sent to author, aq-pr-triaged, devops-artifacts/tech, devops/prod, ready-to-merge

#10690 Fixed terminology: account [name] --> organization [name]
  docs/repos/git/create-pr-status-server-with-azure-functions.md
Labels: Change sent to author, aq-pr-triaged, devops-code-git/tech, devops/prod, do-not-merge

#10833 Note that "project" can be the name, not just GUID
  docs/pipelines/tasks/utility/download-pipeline-artifact.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10806 Users/diaggarw/update doc
  docs/pipelines/tasks/deploy/azure-resource-group-deployment.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10722 Update azure-file-copy.md
  docs/pipelines/tasks/deploy/azure-file-copy.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10907 Fixing capitalization in TOC
  docs/project/wiki/toc.yml
Labels: do-not-merge, review-team-triage

#10888 1 user suggests update the Azure Pipelines agents overview document
  docs/pipelines/agents/agents.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#10895 Remove inaccurate and conflicting text. Fixes #9742
  docs/pipelines/tasks/deploy/azure-powershell.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10913 Add note on visibility of Add to Team Favorites option
  docs/project/navigation/set-favorites.md
Labels: Change sent to author, aq-pr-triaged, devops-collab/tech, devops/prod, do-not-merge

#10914 Remove duplicate line
  docs/organizations/security/add-manage-security-groups.md
Labels: Change sent to author, devops-security/tech, devops/prod, do-not-merge

#10923 Fix: wrong command for user removal
  docs/organizations/accounts/delete-organization-users.md
Labels: Change sent to author, aq-pr-triaged, devops-accounts/tech, devops/prod, do-not-merge

#10929 Fixed the definitionId of the run retention examples
  docs/pipelines/build/run-retention.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-build/tech, devops/prod, ready-to-merge

#10947 Not region but geography for Artifacts
  docs/organizations/security/allow-list-ip-url.md
Labels: Change sent to author, aq-pr-triaged, devops-security/tech, devops/prod, do-not-merge

#10952 AccountContents supports the release subdomain as well
  docs/report/powerbi/data-connector-functions.md
Labels: Change sent to author, aq-pr-triaged, devops-analytics/tech, devops/prod, do-not-merge

#10964 Misleading description for AAD CAP
  docs/organizations/accounts/change-application-access-policies.md
Labels: Change sent to author, devops-accounts/tech, devops/prod, do-not-merge

#10969 Fixed typo in "Map requirements to features"
  docs/boards/work-items/guidance/cmmi-process-workflow.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10971 Remove placeholder note
  docs/project/wiki/provisioned-vs-published-wiki.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#10972 Remove empty menu item
  docs/boards/toc.yml
Labels: Change sent to author, aq-pr-triaged, azure-devops/prod, do-not-merge

#10891 Update scale-set-agents.md
  docs/pipelines/agents/scale-set-agents.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#10924 Updating Kubectl ADO task README
  docs/pipelines/tasks/deploy/kubernetes.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10799 Improved example for generalSettings parameter (AzureAppServiceSettings).
  docs/pipelines/tasks/deploy/azure-app-service-settings.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#11012 Update overview-azure.md
  docs/pipelines/overview-azure.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#11016 fix: minor typo
  docs/report/dashboards/widget-catalog.md
Labels: Change sent to author, devops-analytics/tech, devops/prod, do-not-merge

#10732 Removed reference to "team rooms"
  docs/service-hooks/create-subscription.md
Labels: Change sent to author, aq-pr-triaged, devops-collab/tech, devops/prod, do-not-merge

#11022 Update migrate-integrate.md
  docs/boards/extensions/migrate-integrate.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10958 Docker MCR
  docs/pipelines/tasks/test/publish-test-results.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge
