Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-10, with the labels that each got.

#11431 Fix url syntax (closing bracket missing)
  docs/boards/queries/query-by-date-or-current-iteration.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#11342 Update hosted.md
  docs/pipelines/agents/hosted.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-agents/tech

#11448 Correcting typographical and grammatical errors
  release-notes/2021/includes/boards/sprint-193-update.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-release-notes/tech

#11453 updated assigned to me widget description
  docs/report/dashboards/widget-catalog.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged
