Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-05, with the labels that each got.

#10628 Typo "** Screen & Voice<strong>,"→” **Screen & Voice**”
  docs/project/feedback/give-feedback.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#10629 Typo "**2019-04-01Z**"→"<b>2019-04-01Z</b>"
  docs/report/powerbi/sample-boards-leadcycletime.md
Labels: Change sent to author, devops-analytics/tech, devops/prod, do-not-merge

#10630 Typo "**OK</strong>"→”**OK**”
  docs/repos/tfvc/workspace-command.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#10631 Typo """Enable continuous integration**"→”**Enable continuous integra…
  docs/pipelines/targets/cosmos-db.md
Labels: Change sent to author, devops-cicd-targets/tech, devops/prod, do-not-merge

#10632 Fix typo in comparison-git-tfvc.md
  docs/repos/tfvc/comparison-git-tfvc.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#10627 Typo "**Time **Criticality"→”**Time** Criticality”
  docs/boards/work-items/guidance/changes-to-process-templates.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10444 Update free-tier.md
  docs/includes/free-tier.md
Labels: Change sent to author, aq-pr-triaged, devops/prod, ready-to-merge

#10634 Fix another typo in comparison-git-tfvc.md
  docs/repos/tfvc/comparison-git-tfvc.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#10651 Add vso.environment_manage scope
  docs/integrate/includes/scopes.md
Labels: Change sent to author, aq-pr-triaged, devops/prod, do-not-merge

#10675 Typo "Azure DevOps services"→"Azure DevOps Services"
  docs/pipelines/security/overview.md
Labels: Change sent to author, devops-cicd-security/tech, devops/prod, ready-to-merge

#10676 Typo "Azure DevOps services"→"Azure DevOps Services"
  release-notes/2019/sprint-148-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#10538 Update device profile more info link
  docs/integrate/get-started/authentication/authentication-guidance.md
  docs/integrate/rest-api-overview.md
Labels: Change sent to author, aq-pr-triaged, devops-ecosystem/tech, devops/prod, ready-to-merge

#10608 Update manage-wikis.md
  docs/project/wiki/manage-wikis.md
Labels: Change sent to author, aq-pr-triaged, devops-collab/tech, devops/prod, ready-to-merge

#10683 Typo - Related Articles - Scrum best practices -> Added new bullet point
  docs/boards/sprints/task-board.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10669 Typo "Azure pipelines"→"Azure Pipelines"
  docs/pipelines/packages/nuget-restore.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-packages/tech, devops/prod, ready-to-merge

#10705 change in github-actions.md file's YAML configurations to match with …
  docs/pipelines/ecosystems/github-actions.md
Labels: Change sent to author, devops-cicd-ecosystems/tech, devops/prod, ready-to-merge

#10692 change confusing terminology
  docs/artifacts/concepts/upstream-behavior.md
Labels: Change sent to author, aq-pr-triaged, devops-artifacts/tech, devops/prod, ready-to-merge

#10717 Updating a note the deleting project wiki is not supported
  docs/project/wiki/manage-wikis.md
Labels: Change sent to author, devops-collab/tech, devops/prod, ready-to-merge

#10713 Typo "Azure Pipeline"→"Azure Pipelines"
  docs/pipelines/includes/create-first-pipeline-next-steps.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#10714 Typo "Azure Pipeline"→"Azure Pipelines"
  docs/pipelines/release/index.md
Labels: Change sent to author, devops-cicd-release/tech, devops/prod, do-not-merge

#10715 Typo "Azure Pipeline"→"Azure Pipelines"
  docs/pipelines/repos/github.md
Labels: Change sent to author, devops-cicd-repos/tech, devops/prod, do-not-merge

#10643 update transforms-variable-substitution.md doc fixes issue #6563
  docs/pipelines/tasks/transforms-variable-substitution.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10725 corrects word usage
  docs/pipelines/release/caching.md
Labels: Change sent to author, devops-cicd-release/tech, devops/prod, do-not-merge

#10728 Added "webhooks" to syntax
  docs/pipelines/process/resources.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#10720 I lost some of the runs. Is there any way to get them back? - paragraph
  docs/pipelines/policies/retention.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-policies/tech, devops/prod, ready-to-merge

#10706 Add Incoming-Webhook Secret Hash Kind
  docs/pipelines/process/resources.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#10737 Typo "Azure repos"→"Azure Repos"
  release-notes/2019/repos/sprint-147-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#10710 Fix gradle caching docs
  docs/pipelines/release/caching.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, ready-to-merge

#10746 Update run-number.md
  docs/pipelines/process/run-number.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#10735 Typo "Azure container registry"→" Azure Container Registry"
  docs/pipelines/tasks/build/docker-compose.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10751 Typo "Azure artifacts"→"Azure Artifacts"
  docs/pipelines/packages/nuget-restore.md
Labels: Change sent to author, devops-cicd-packages/tech, devops/prod, do-not-merge

#10743 Typo "Azure Board tools"→"Azure Boards tools"
  docs/boards/backlogs/filter-backlogs-boards-plans.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10744 Typo "Azure Board tools"→"Azure Boards tools"
  docs/boards/boards/add-columns.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10763 Fix typo in Build.ArtifactStagingDirectory
  docs/pipelines/build/variables.md
Labels: Change sent to author, devops-cicd-build/tech, devops/prod, ready-to-merge

#10759 Typo "Azure Artifact feeds"→"Azure Artifacts feeds"
  docs/artifacts/includes/maven/pom-and-settings.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#10758 Typo "Kanban Board"→"Kanban board"
  docs/report/dashboards/widget-catalog.md
Labels: Change sent to author, aq-pr-triaged, devops-analytics/tech, devops/prod, do-not-merge

#10738 Typo "Azure repos"→"Azure Repos"
  release-notes/features-timeline.md
Labels: Change sent to author, aq-pr-triaged, devops-release-notes/tech, devops/prod, do-not-merge

#10769 Typo "Azure artifact feeds"→"Azure Artifacts feeds"
  docs/artifacts/tutorials/private-powershell-library.md
Labels: Change sent to author, devops-artifacts/tech, devops/prod, do-not-merge

#10772 Typo "Azure board"→"Azure Boards"
  release-notes/2019/includes/pipelines/sprint-146-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#10793 Corrected typo "modifification"
  docs/organizations/settings/about-teams-and-settings.md
Labels: Change sent to author, devops-settings/tech, devops/prod, do-not-merge

#10795 Corrected typo
  docs/boards/configure-customize.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10796 Typo "Azure Pipeline"→"Azure Pipelines"
  release-notes/2019/includes/pipelines/sprint-157-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#10774 docs: update recommendation about Node docker image version
  docs/pipelines/process/container-phases.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#10798 fix duplicated word
  docs/repos/tfvc/create-work-workspaces.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#10754 Added known issues section in the document for publish code coverage results task
  docs/pipelines/tasks/test/media/publish-code-coverage-result-build-artifacts.png
  docs/pipelines/tasks/test/media/publish-code-coverage-result-build-summary.png
  docs/pipelines/tasks/test/publish-code-coverage-results.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10771 Typo "Azure Board tools"→"Azure Boards tools"
  docs/cross-service/manage-requirements.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10756 Typo "Kanban Board"→"Kanban board"
  docs/boards/backlogs/set-up-your-backlog.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10757 Typo "Kanban Board"→"Kanban board"
  docs/organizations/settings/work/apply-rules-to-workflow-states.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10614 Added note that an Azure DevOps data connector supports only data fro…
  docs/report/powerbi/data-connector-functions.md
Labels: Change sent to author, aq-pr-triaged, devops-analytics/tech, devops/prod, do-not-merge

#10689 Fixed: Code sample still uses preview version of REST API
  docs/repos/git/create-pr-status-server-with-azure-functions.md
Labels: Change sent to author, aq-pr-triaged, devops-code-git/tech, devops/prod, do-not-merge

#10831 Typo "**Actions ... **"→"**Actions ...**"
  docs/organizations/accounts/add-organization-users.md
Labels: Change sent to author, devops-accounts/tech, devops/prod, do-not-merge

#10834 fix(customize-process-field.md)
  docs/organizations/settings/work/customize-process-field.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10838 Fixing small typos
  docs/pipelines/agents/includes/capabilities.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge
