Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-08, with the labels that each got.

#11116 Fix input definition
  docs/pipelines/artifacts/pypi.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-artifacts/tech, devops/prod, ready-to-merge

#10836 Update scriptType description
  docs/pipelines/tasks/deploy/azure-cli.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11199 When the users are removed from organization
  docs/organizations/accounts/delete-organization-users.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-accounts/tech

#11185 Project-scoped feeds need project permissions too
  docs/artifacts/feeds/feed-permissions.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-artifacts/tech, aq-pr-triaged

#11213 Update migration-troubleshooting.md
  docs/migrate/migration-troubleshooting.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-migrate/tech

#11167 Code checks if variable is empty
  docs/pipelines/process/conditions.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#11246 Update collect-diagnostic-data.md
  docs/test/collect-diagnostic-data.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-test/tech

#11264 Update resources.md
  docs/pipelines/process/resources.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-process/tech

#11227 Added hyperlink to docker task
  docs/pipelines/ecosystems/containers/acr-template.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-ecosystems/tech

#11176 PublishCodeCoverageResults snippet fix
  docs/pipelines/ecosystems/dotnet-core.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-ecosystems/tech

#11252 Adding related limitations on deployment groups
  docs/pipelines/process/deployment-jobs.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#11151 Clarified how the build variables Build.SourcesDirectory and Build.Repository.LocalPath work (fixed partly wrong documentation)
  docs/pipelines/build/includes/variables-hosted.md
  docs/pipelines/build/includes/variables-server-2020.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#11239 Added Library within key-pipelines-concepts.md
  docs/pipelines/get-started/key-pipelines-concepts.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-get-started/tech
