Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-01, with the labels that each got.

#9919 Update service-endpoints.md
  docs/pipelines/library/service-endpoints.md
Labels: Change sent to author, devops-cicd-library/tech, devops/prod, do-not-merge

#9916 Update sprint-179-update.md
  release-notes/2020/includes/pipelines/sprint-179-update.md
Labels: Change sent to author, devops-release-notes/tech, devops/prod, do-not-merge

#9922 Added single quotes to avoid getting exception
  docs/pipelines/process/run-number.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9939 remove spurious \
  docs/user-guide/plan-your-azure-devops-org-structure.md
Labels: Change sent to author, devops-new-user/tech, devops/prod, do-not-merge

#9942 Fix broken link to tfx-cli
  docs/extend/develop/add-build-task.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, do-not-merge

#9948 Fix incorrect casing in npmrc.md
  docs/artifacts/npm/npmrc.md
Labels: Change sent to author, devops-artifacts/tech, devops/prod, do-not-merge

#9953 Update auth.md
  docs/extend/develop/auth.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, do-not-merge

#9975 Improvement to image resize syntax documentation
  docs/project/wiki/markdown-guidance.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#9973 Adding detail for public project regarding power bi support
  docs/organizations/public/feature-differences.md
Labels: Change sent to author, aq-pr-triaged, devops-public-projects/tech, devops/prod, do-not-merge

#8285 Update dotnet-core-cli.md
  docs/pipelines/tasks/build/dotnet-core-cli.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops-cicd/tech, devops/prod, do-not-merge

#9981 Remove reference to half-implemented feature
  docs/artifacts/concepts/upstream-sources.md
Labels: Change sent to author, devops-artifacts/tech, devops/prod, do-not-merge

#9716 Update azure-key-vault.md for permission issues to Azure Key Vault
  docs/pipelines/tasks/deploy/azure-key-vault.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#8936 added deploy.sh
  docs/pipelines/apps/cd/deploy-linuxvm-deploygroups.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-apps/tech, devops/prod, do-not-merge

#7671 options for powerShellErrorActionPreference
  docs/pipelines/tasks/deploy/azure-cli.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops-cicd/tech, devops/prod, do-not-merge

#7601 Add a hint to use minimatch patterns
  docs/pipelines/tasks/utility/publish-build-artifacts.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops-cicd/tech, devops/prod, do-not-merge

#9955 Add (Required) to jdkArchitectureOption
  docs/pipelines/tasks/tool/java-tool-installer.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9924 Update SqlAzureDacpacDeploymentV1.md
  docs/pipelines/tasks/includes/yaml/SqlAzureDacpacDeploymentV1.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9923 Update sql-azure-dacpac-deployment.md
  docs/pipelines/tasks/deploy/sql-azure-dacpac-deployment.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9875 Update timeoutInMinutes as Optional
  docs/pipelines/tasks/utility/manual-validation.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9788 Update azure-key-vault.md to whitelist the IP addresses
  docs/pipelines/tasks/deploy/azure-key-vault.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9132 Update description of SymbolsFolder
  docs/pipelines/tasks/build/index-sources-publish-symbols.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#8379 Add restoreArguments parameter
  docs/pipelines/tasks/build/dotnet-core-cli.md
  docs/pipelines/tasks/includes/yaml/DotNetCoreCLIV2.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#8431 Corrected Path Issue for NuGet Caching
  docs/pipelines/release/caching.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, do-not-merge

#9983 Fix typo in Logging Commands
  docs/pipelines/scripts/logging-commands.md
Labels: Change sent to author, devops-cicd-scripts/tech, devops/prod, do-not-merge

#9985 Typo "**B. ～button **"→"**B. ～button**"
  docs/repos/tfvc/view-branch-hierarchy-team-project.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9991 Typo "****Docker ID:**"→"**Docker ID:**"
  docs/pipelines/ecosystems/containers/push-image.md
Labels: Change sent to author, devops-cicd-ecosystems/tech, devops/prod, do-not-merge

#9993 Typo "the** checkin**"→"the **checkin**"
  docs/repos/tfvc/delete-command-team-foundation-version-control.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9995 Typo "**Edit release definition**"→"<strong>Edit release definition</…
  docs/organizations/security/permissions.md
Labels: Change sent to author, devops-security/tech, devops/prod, do-not-merge

#9996 Typo "**discussion**"→"<b>discussion</b>"
  docs/user-guide/alm-devops-features.md
Labels: Change sent to author, devops-new-user/tech, devops/prod, do-not-merge

#9998 Typo "**2019-04-01Z**"→"<b>2019-04-01Z</b>"
  docs/report/powerbi/sample-boards-cfd.md
Labels: Change sent to author, devops-analytics/tech, devops/prod, do-not-merge

#9990 Typo "**Shelve - Source Files **"→"**Shelve - Source Files**"
  docs/repos/tfvc/shelve-command.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9992 Typo "**Changeset **"→"**Changeset**"
  docs/repos/tfvc/changeset-command.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9994 Typo "the** Permanently delete**"→"the **Permanently delete**"
  docs/boards/backlogs/delete-test-artifacts.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#9997 Typo "**box, choose **"→"box, choose"
  docs/repos/tfvc/find-view-changesets.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#9989 Typo "**Azure～Update 1 **"→"**Azure～Update 1**"
  docs/repos/git/commit-details.md
Labels: Change sent to author, devops-code-git/tech, devops/prod, do-not-merge

#9999 removed duplicate sprint 178
  release-notes/features-timeline.md
Labels: Change sent to author, aq-pr-triaged, devops-release-notes/tech, devops/prod, do-not-merge

#10011 Typo "**Select～branch **page"→"**Select～branch** page"
  docs/repos/tfvc/merge-folders-files.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#10012 Typo "**Change content **"→"**Change content**"
  docs/repos/tfvc/destroy-command-team-foundation-version-control.md
Labels: Change sent to author, devops-code-tfvc/tech, devops/prod, do-not-merge

#10026 Updating undocumented area path / iteration limits
  docs/organizations/settings/work/object-limits.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10019 Typo "@RecentProjectActivity**"→"@RecentProjectActivity"
  docs/boards/queries/query-operators-variables.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10035 Fixes incorrect link title in "Analyze and report on code churn and code coverage"
  docs/report/sql-reports/perspective-code-analyze-report-code-churn-coverage.md
Labels: do-not-merge

#10045 Update faq-user-and-permissions-management.md
  docs/organizations/accounts/faq-user-and-permissions-management.md
Labels: Change sent to author, devops-accounts/tech, devops/prod, do-not-merge

#10048 Remove errant attribute in example syntax
  docs/pipelines/tasks/utility/file-transform.md
Labels: Change sent to author, devops-cicd-tasks/tech, devops/prod, do-not-merge

#9930 Update git-commands.md
  docs/pipelines/scripts/git-commands.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-scripts/tech, devops/prod, ready-to-merge

#9949 Fix for missing 'Section' formatting command
  docs/pipelines/scripts/logging-commands.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-scripts/tech, devops/prod, ready-to-merge

#9958 Update templates.md
  docs/pipelines/process/templates.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9960 Fix: Pipeline publish path incorrect
  docs/pipelines/ecosystems/includes/deployment-variables.md
  docs/pipelines/ecosystems/java-function.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd/tech, devops/prod, ready-to-merge

#9963 Fix incorrect syntax
  docs/pipelines/process/runtime-parameters.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#9977 Added missing closing bracket.
  docs/pipelines/process/stages.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#10056 Fix PublishBuildArtifacts@1 React example
  docs/pipelines/ecosystems/javascript.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, ready-to-merge

#10057 Update what-is-azure-pipelines.md - Minor edit
  docs/pipelines/get-started/what-is-azure-pipelines.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-get-started/tech, devops/prod, ready-to-merge

#10063 Update packages search toc name
  docs/project/search/toc.yml
Labels: aq-pr-triaged, azure-devops/prod, do-not-merge, review-team-triage

#10062 Update query-by-workflow-changes.md
  docs/boards/queries/query-by-workflow-changes.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#9586 Azure artifacts gradle documentation update
  docs/artifacts/gradle/publish-package-gradle.md
Labels: Change sent to author, aq-pr-triaged, devops-artifacts/tech, devops/prod, do-not-merge

#10071 Update agents.md
  docs/pipelines/agents/agents.md
Labels: Change sent to author, devops-cicd-agents/tech, devops/prod, do-not-merge

#10075 Fix a typo in docs page
  docs/service-hooks/services/teams.md
Labels: Change sent to author, devops-collab/tech, devops/prod, do-not-merge

#10086 Fix typo in overview-azure.md
  docs/pipelines/overview-azure.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, do-not-merge

#10076 Add Q&A for how to get ssh authentication working on Fedora Linux
  docs/repos/git/use-ssh-keys-to-authenticate.md
Labels: Change sent to author, aq-pr-triaged, devops-code-git/tech, devops/prod, do-not-merge

#10072 Fixed a mistake on ooping through parameters
  docs/pipelines/process/runtime-parameters.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#10050 Fix ACR input param format when pushing module image
  docs/pipelines/tasks/build/azure-iot-edge.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, ready-to-merge
