Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-04, with the labels that each got.

#10402 Add deployment variable syntax examples, notes
  docs/pipelines/process/deployment-jobs.md
  docs/pipelines/process/expressions.md
  docs/pipelines/process/variables.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#10415 Update `Recursive expansion` section
  docs/pipelines/process/variables.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge

#10471 Added note to Docker caching section
  docs/pipelines/release/caching.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-release/tech, devops/prod, ready-to-merge

#10518 Extension estimate is not available on marketplace
  docs/boards/extensions/index.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10524 fixed grammatical issues
  docs/pipelines/build/triggers.md
Labels: Change sent to author, devops-cicd-build/tech, devops/prod, do-not-merge

#10508 Update project-scoped-feeds.md
  docs/artifacts/feeds/project-scoped-feeds.md
Labels: Change sent to author, aq-pr-triaged, devops-artifacts/tech, devops/prod, ready-to-merge

#10535 Update index.md
  docs/pipelines/library/index.md
Labels: Change sent to author, devops-cicd-library/tech, devops/prod, do-not-merge

#10537 Update share-your-code-in-tfvc-vs.md
  docs/repos/tfvc/share-your-code-in-tfvc-vs.md
Labels: Change sent to author, aq-pr-triaged, devops-code-tfvc/tech, devops/prod, do-not-merge

#10485 Update hosted.md and build-image.md
  docs/pipelines/agents/hosted.md
  docs/pipelines/ecosystems/containers/build-image.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, do-not-merge

#10547 Adding note to associating builds to manual test results
  docs/test/reference-qa.md
Labels: Change sent to author, aq-pr-triaged, devops-test/tech, devops/prod, ready-to-merge

#10463 Use https://api.ipify.org instead of http://checkip.dyndns.com to get $agentIP
  docs/pipelines/targets/azure-sqldb.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-targets/tech, devops/prod, do-not-merge

#10551 Include information about updating environment variable capabilities
  docs/pipelines/agents/agents.md
  docs/pipelines/agents/includes/capabilities.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, ready-to-merge

#10560 Fix typo in what-is-azure-boards.md
  docs/boards/get-started/what-is-azure-boards.md
Labels: Change sent to author, aq-pr-triaged, azure-devops/prod, do-not-merge

#10515 Reverted to use yaml snippet for PublishCodeCoverageResultsV1
  docs/pipelines/tasks/includes/yaml/PublishCodeCoverageResultsV1.md
  docs/pipelines/tasks/test/publish-code-coverage-results.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10586 Improve agent cleanup
  docs/pipelines/agents/docker.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#10566 Suggestions for Docker for linux
  docs/pipelines/agents/docker.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#10555 Added an environments section in the 'windows pipeline agents'
  docs/pipelines/agents/includes/v2/unattended-config.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge

#10425 #10424 Fix Azure Maven Authenticate custom setting.xml file flag
  docs/pipelines/tasks/package/maven-authenticate.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, ready-to-merge

#10616 Mention newly supported IPv6 in change-application-access-policies.md
  docs/organizations/accounts/change-application-access-policies.md
Labels: Change sent to author, aq-pr-triaged, devops-accounts/tech, devops/prod, do-not-merge

#10571 Fix yml example in deployment-jobs.md
  docs/pipelines/process/deployment-jobs.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-process/tech, devops/prod, ready-to-merge
