Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-12, with the labels that each got.

#11673 Remove pip instructions for Pipeline Caching
  docs/pipelines/release/caching.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-release/tech

#11678 Fixed typo in the Build.sourcesDirectory section | 'differes' to 'differs'
  docs/pipelines/build/includes/variables-hosted.md
  docs/pipelines/build/includes/variables-server-2020.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech

#11704 Clarification on "Project Collection Build Service"
  docs/pipelines/scripts/git-commands.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-scripts/tech

#11703 Correct App Service Plan Windows vs Linux
  docs/pipelines/targets/webapp.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-targets/tech

#11709 Clarifying ambiguous paragraph
  docs/artifacts/concepts/views.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-artifacts/tech, aq-pr-triaged

#11719 Update artifacts.md
  docs/pipelines/release/artifacts.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-release/tech

#11733 Updated hyperlink to main branch
  docs/repos/git/manage-large-files.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech

#11262 Update Splunk URL
  docs/organizations/audit/auditing-streaming.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-audit/tech

#11736 Fix Uri
  docs/integrate/get-started/rest/samples.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-ecosystem/tech, aq-pr-triaged

#11747 Fix phrasing in what-is-azure-devops.md
  docs/user-guide/what-is-azure-devops.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-new-user/tech, aq-pr-triaged

#11770 Update Ubuntu included software links
  docs/pipelines/agents/hosted.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-cicd-agents/tech

#11696 Add note addressing issues when specifying a pipeline trigger from a different project
  docs/pipelines/process/pipeline-triggers.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#11639 Update extract-files.md
  docs/pipelines/tasks/utility/extract-files.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11629 git credential manager: update name/links
  docs/organizations/security/toc.yml
  docs/repos/git/auth-overview.md
  docs/repos/git/command-prompt.md
  docs/repos/git/create-new-repo.md
  docs/repos/git/includes/personal-access-tokens.md
  docs/repos/git/set-up-credential-managers.md
  docs/repos/git/use-ssh-keys-to-authenticate.md
  docs/repos/tfvc/includes/personal-access-tokens.md
  release-notes/docswhatsnew/azure-devops-docs-2020-11.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-code-git/tech, aq-pr-triaged

#11597 Update reference-qa.md
  docs/test/reference-qa.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-test/tech, aq-pr-triaged

#11595 replace TFS with Azure DevOps Server
  docs/pipelines/agents/agents.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-agents/tech

#11350 Update msbuild_qa.md
  docs/pipelines/tasks/includes/msbuild_qa.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11777 Update glossary.md
  docs/project/navigation/glossary.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-collab/tech
