Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-09, with the labels that each got.

#11287 docs: remove duplicate words
  docs/organizations/settings/work/change-process-basic-to-agile.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#11298 Fix mermaid.js availability in wiki
  docs/project/wiki/wiki-markdown-guidance.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-collab/tech

#11315 Update teams/iteration/area limits
  docs/organizations/settings/work/object-limits.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#11334 Fix inconsistent lowercase: name -> Name
  docs/pipelines/tasks/deploy/azure-powershell.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-tasks/tech

#11311 updated testResultsFiles to lowercase
  docs/pipelines/ecosystems/javascript.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-ecosystems/tech

#11337 Update sample-test-analytics-test-summary.md-PowerBI query
  docs/report/powerbi/sample-test-analytics-test-summary.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11346 Update sample-test-analytics-test-summary
  docs/report/powerbi/sample-test-analytics-test-summary.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11363 Update ci-triggers1.md
  docs/pipelines/repos/includes/ci-triggers1.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech

#11365 Update qa2-1.md
  docs/pipelines/repos/includes/qa2-1.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech

#11364 Update ci-triggers5.md
  docs/pipelines/repos/includes/ci-triggers5.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#11366 Update variable-groups.md
  docs/pipelines/library/variable-groups.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-library/tech

#11367 Update variable-groups.md
  docs/pipelines/library/variable-groups.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-library/tech

#11375 Update sample-test-analytics-pass-rate-trend-test.md
  docs/report/powerbi/sample-test-analytics-pass-rate-trend-test.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11377 Update sample-test-analytics-test-duration.md
  docs/report/powerbi/sample-test-analytics-test-duration.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11378 Update sample-test-analytics-flaky-tests.md
  docs/report/powerbi/sample-test-analytics-flaky-tests.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11379 Update sample-test-analytics-failed-tests.md
  docs/report/powerbi/sample-test-analytics-failed-tests.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11380 Update sample-test-summary-trend.md
  docs/report/powerbi/sample-test-summary-trend.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11376 Update sample-test-analyics-test-duration-trend.md
  docs/report/powerbi/sample-test-analyics-test-duration-trend.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11389 Fix typo ☺
  docs/pipelines/process/pipeline-triggers.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-process/tech

#11398 Fixed typo in yaml-schema.md
  docs/pipelines/yaml-schema.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech

#11399 docs: fix minor typo
  docs/boards/boards/customize-cards.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#11405 Update work-across-projects-faqs.yml
  docs/project/work-across-projects-faqs.yml
Labels: do-not-merge, Change sent to author, devops/prod
