Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2021-02, with the labels that each got.

#10111 Fixed mismatching filenames in helm-deploy.md
  docs/pipelines/tasks/deploy/helm-deploy.md
Labels: Change sent to author, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10113 Update analytics-widgets.md
  docs/report/dashboards/analytics-widgets.md
Labels: Change sent to author, devops-analytics/tech, devops/prod, do-not-merge

#10114 Indentation on yaml snippet incorrect
  docs/pipelines/ecosystems/python-webapp.md
Labels: do-not-merge

#10122 Update rename-project.md
  docs/organizations/projects/rename-project.md
Labels: Change sent to author, devops-accounts/tech, devops/prod, ready-to-merge

#10123 Update practices that scale - SoS link broken
  docs/boards/plans/practices-that-scale.md
Labels: Change sent to author, aq-pr-triaged, devops-agile/tech, devops/prod, do-not-merge

#10134 Updated the CASE REVIEW #1758717
  docs/pipelines/ecosystems/javascript.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-ecosystems/tech, devops/prod, ready-to-merge

#10147 updating classification nodes to 10k
  docs/organizations/settings/work/object-limits.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10150 adding classification node depth limits
  docs/organizations/settings/work/object-limits.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#9971 Updated required inputs
  docs/pipelines/tasks/deploy/azure-app-service-settings.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10125 Fix test for working directory
  docs/pipelines/agents/docker.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-agents/tech, devops/prod, ready-to-merge

#9828 Update azure-devops-auditing.md
  docs/organizations/audit/azure-devops-auditing.md
Labels: Change sent to author, aq-pr-triaged, devops-audit/tech, devops/prod, do-not-merge

#10118 Update description of secretArguments input
  docs/pipelines/tasks/deploy/kubernetes-manifest.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10186 Update from-classic-pipelines.md
  docs/pipelines/migrate/from-classic-pipelines.md
Labels: Change sent to author, devops-cicd-migrate/tech, devops/prod, do-not-merge

#10160 Fix azure mysql deployment task docs
  docs/pipelines/tasks/deploy/azure-mysql-deployment.md
  docs/pipelines/tasks/includes/yaml/AzureMysqlDeploymentV1.md
Labels: Change sent to author, aq-pr-triaged, devops-cicd-tasks/tech, devops/prod, do-not-merge

#10198 Update inheriting-permissions-from-other-AADs AB#1760414
  docs/organizations/accounts/faq-user-and-permissions-management.md
Labels: Change sent to author, aq-pr-triaged, devops-accounts/tech, devops/prod, do-not-merge

#10215 Correct QnA enablement key
  docs/extend/develop/manifest.md
Labels: Change sent to author, devops-ecosystem/tech, devops/prod, ready-to-merge

#10227 Syntax / Grammar fixes
  docs/pipelines/process/environments.md
Labels: Change sent to author, devops-cicd-process/tech, devops/prod, ready-to-merge

#10230 Removed extra " from markdown
  docs/boards/queries/query-index-quick-ref.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10242 typo fixed
  docs/boards/backlogs/office/track-work.md
Labels: Change sent to author, devops-agile/tech, devops/prod, do-not-merge

#10243 Add a description of the "settableVariables" restriciton
  docs/pipelines/security/templates.md
Labels: Change sent to author, devops-cicd/tech, devops/prod, ready-to-merge

#10245 Fixed extra ] in markdown
  docs/report/powerbi/overview.md
Labels: Change sent to author, devops-analytics/tech, devops/prod, do-not-merge
