Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-02, with the labels that each got.

#11889 App Service Deploy: Extra spaces in settings causes BadRequest #7799
  docs/pipelines/tasks/deploy/azure-rm-web-app-deployment.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11932 add-external-user.md: Use backticks instead of double quotes
  docs/organizations/accounts/add-external-user.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-accounts/tech, aq-pr-triaged

#11934 Resolve syncing conflicts from repo_sync_working_branch to main
  docs/organizations/accounts/add-external-user.md
  docs/organizations/public/invite-users-public.md
  docs/pipelines/release/index.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-public-projects/tech

#11906 Add example of using private PowerShell repository in Azure Pipelines
  docs/artifacts/tutorials/private-powershell-library.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-artifacts/tech, aq-pr-triaged

#11925 Spell out syntax for passing variables between stages
  docs/pipelines/process/variables.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#11965 Update faqs.yaml
  docs/report/dashboards/faqs.yml
Labels: do-not-merge, Change sent to author, devops/prod

#11969 Fix md syntax for settings table
  docs/pipelines/test/codecoverage-for-pullrequests.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-test/tech

#12003 Clarify Universal Package naming restrictions
  docs/artifacts/quickstarts/universal-packages.md
Labels: ready-to-merge, Change sent to author, devops-artifacts/tech, aq-pr-triaged
