Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-10, with the labels that each got.

#12500 remove prerequisites
  docs/pipelines/agents/pool-consumption-report.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-agents/tech, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#12757 Update about-readme-wiki.md
  docs/project/wiki/about-readme-wiki.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-wiki/subsvc

#12753 correct documentation for windows powershell based on issue #12393
  docs/pipelines/tasks/utility/powershell.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech, azure-devops-pipelines/svc, azure-devops-pipelines-tasks/subsvc

#12749 Make a note about SCM_SKIP_SSL_VALIDATION and SCM_SKIP_ASE_SSL_VALIDA…
  docs/pipelines/tasks/deploy/azure-rm-web-app-deployment.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech, azure-devops-pipelines/svc, azure-devops-pipelines-tasks/subsvc

#12659 Update creatingrepo.md
  docs/repos/git/creatingrepo.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech, aq-pr-triaged

#12773 Correct the usage of QueryAzureDevOpsExtensionversion
  docs/extend/develop/add-build-task.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#12775 Difference between PR and Branches Compare explained
  docs/repos/git/review-pull-requests.md
Labels: ready-to-merge, aq-pr-triaged

#12778 Update sprint-209-update.md
  release-notes/2022/includes/pipelines/sprint-209-update.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#12800 this removes the duplicate URL to fix issue #12799
  docs/organizations/security/allow-list-ip-url.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#12821 Add missing info to "Release deployment completed"
  docs/service-hooks/events.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-service-hooks/subsvc

#12823 Fix typo in Visual Studio version
  docs/repos/tfvc/includes/note-my-work-code-review-support.md
Labels: do-not-merge, Change sent to author, azure-devops-repos/svc, azure-devops-repos-tfvc/subsvc

#12833 Removing some use of '@' inside image alt text
  docs/boards/queries/query-by-date-or-current-iteration.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc
