Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-11, with the labels that each got.

#12837 Add missing moniker tag
  docs/boards/backlogs/configure-your-backlog-view.md
Labels: do-not-merge, Change sent to author, azure-devops-boards/svc

#12804 Fix typo
  docs/pipelines/process/environments-kubernetes.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#12808 Document that task commands unescape their value
  docs/pipelines/process/set-variables-scripts.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#12818 clarify agentless task code example
  docs/pipelines/process/phases.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#12894 Add note on legacy GitRepositories Administer permission
  docs/organizations/security/namespace-reference.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#12895 Update link to repo administer permission changes
  docs/organizations/security/namespace-reference.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#12889 Update retention.md
  docs/pipelines/policies/retention.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-policies/subsvc

#12907 Invalid ADO YAML
  docs/pipelines/process/about-resources.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#12927 Uses v4 of the Azure DevOps Extension Tasks
  docs/extend/develop/add-build-task.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc

#12764 document build.cleanup enable for issue #12750
  docs/pipelines/policies/retention.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-policies/subsvc
