Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-12, with the labels that each got.

#12935 Updated the release note details
  release-notes/2022/includes/pipelines/sprint-209-update.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#12939 Fix typo
  docs/organizations/projects/delete-project.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-organizations/subsvc

#12945 Update guidance-background-to-cmmi.md
  docs/boards/work-items/guidance/cmmi/guidance-background-to-cmmi.md
Labels: do-not-merge, Change sent to author, azure-devops-boards/svc

#12944 Update quick-tips-shared-query.md
  docs/boards/includes/quick-tips-shared-query.md
Labels: do-not-merge, Change sent to author, azure-devops-boards/svc

#12947 Update Limits
  docs/boards/plans/review-team-plans.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#12950 Update Teams Maximum
  docs/boards/plans/faqs.yml
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc

#12878 Public documentation improvements based on common incidents analysis
  docs/repos/git/complete-pull-requests.md
  docs/repos/git/merging-with-squash.md
  docs/repos/git/review-pull-requests.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#12971 update gradle stop displayName from "build" to "Gradlew stop"
  docs/pipelines/release/caching.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#12900 Correct a misstatement about upstream latency
  docs/artifacts/concepts/upstream-sources.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#12981 Update service-limits.md
  docs/user-guide/service-limits.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-new-user/subsvc

#12988 Dts1988395 2
  docs/pipelines/process/phases.md
  docs/pipelines/repos/pipeline-options-for-git.md
Labels: ready-to-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc
