Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-09, with the labels that each got.

#12616 Explicitly mention the default condition includes both direct and indirect dependencies
  docs/pipelines/process/includes/task-run-built-in-conditions.md
Labels: do-not-merge, Change sent to author, devops-cicd/tech, aq-pr-triaged

#12620 Project is created in .NET 6
  docs/pipelines/ecosystems/dotnet-core.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-ecosystems/tech

#12603 Make list of appTypes include workflowapp for Single Tenant Logic Apps
  docs/pipelines/tasks/deploy/azure-function-app.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12662 docs(azure-repos-git): remove extra moniker-end
  docs/pipelines/repos/azure-repos-git.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-repos/tech

#12666 Typo "Azure Test Plan"→"Azure Test Plans"
  docs/test/repeat-test-with-different-data.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-test/tech

#12576 Fix broken link to JavaScript test runners
  docs/pipelines/test/review-continuous-test-results-after-build.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-test/tech

#12674 Update index.md of "Web portal navigation in Azure DevOps"
  docs/project/navigation/index.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-collab/tech

#12675 Update when-to-refresh-client.md
  docs/includes/when-to-refresh-client.md
Labels: do-not-merge, review-team-triage

#12696 Update branch-policies-overview.md
  docs/repos/git/branch-policies-overview.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech

#12699 Mermaid is wikis: note about limited support is now more prominent
  docs/project/wiki/wiki-markdown-guidance.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-collab/tech, aq-pr-triaged

#12710 Update markdown-guidance.md
  docs/project/wiki/markdown-guidance.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-collab/tech, aq-pr-triaged

#12700 fix: path for Go test is wrong
  docs/pipelines/ecosystems/go.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-ecosystems/tech, docs-editor-pilot

#12692 Fix indentation of tasks after 'step'
  docs/pipelines/process/templates.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#12726 Update add-pipeline-decorator.md
  docs/extend/develop/add-pipeline-decorator.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech

#12729 Fix markdown: remove extra ** which is displayed
  docs/boards/boards/add-task-checklists.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#12682 Fix Powershell Repo URLs
  docs/artifacts/tutorials/private-powershell-library.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-artifacts/tech, aq-pr-triaged

#12747 Update account-scoped-queries.md
  docs/report/extend-analytics/account-scoped-queries.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#12748 Typo "Azure Pipeline"→"Azure Pipelines"
  docs/pipelines/artifacts/pull-package-gradle.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-artifacts/tech
