Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-04, with the labels that each got.

#12024 Update customize-pipeline.md
  docs/pipelines/customize-pipeline.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#12127 Update rest api versioning from query param to uri
  docs/integrate/concepts/rest-api-versioning.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-ecosystem/tech, aq-pr-triaged

#12157 Update hyperlink to point to the correct place.
  docs/extend/overview.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-ecosystem/tech

#12137 Missing parent for job in user defined variables
  docs/pipelines/process/variables.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#12006 Update environments-virtual-machines.md
  docs/pipelines/process/environments-virtual-machines.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#11991 Update expressions.md
  docs/pipelines/process/expressions.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#11990 Update status badge doc
  docs/pipelines/includes/get-status-badge.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#12178 Clarify endpoint option description
  docs/pipelines/process/container-phases.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#12173 Fixed yaml code snippet to clean workspace
  docs/pipelines/process/deployment-jobs.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#12200 Fix links
  docs/pipelines/process/set-variables-scripts.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-process/tech

#12201 Fix links 2
  docs/pipelines/scripts/logging-commands.md
Labels: do-not-merge

#12192 Add example on using variable from a step in a future step condition
  docs/pipelines/process/conditions.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#12181 Update variables.md
  docs/pipelines/process/variables.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#12240 Corrected spelling.
  docs/integrate/includes/scopes.md
Labels: do-not-merge, Change sent to author, devops/prod

#12253 Typo "Azure Pipeline"→"Azure Pipelines"
  docs/pipelines/agents/scale-set-agents.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-agents/tech

#12254 Update resolve-orphaned-organization.md
  docs/organizations/accounts/resolve-orphaned-organization.md
Labels: ready-to-merge, Change sent to author, devops-accounts/tech, aq-pr-triaged
