Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-07, with the labels that each got.

#12480 Fixing typo in Configure Repos Work Tracking title
  docs/repos/git/configure-repos-work-tracking.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#12487 Update progress-report.md
  docs/test/progress-report.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-test/tech, aq-pr-triaged

#12432 Typo "a GitHub action"→"a GitHub Action"
  docs/pipelines/ecosystems/github-actions.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-ecosystems/tech

#12437 Variables are not available by default to the entire stage
  docs/pipelines/process/set-variables-scripts.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#12472 correct info about which env variables are populated
  docs/pipelines/tasks/package/nuget-authenticate.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12360 Remove duplicate `config_file_location`
  docs/pipelines/tasks/utility/azure-static-web-app.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12069 update vstests.md minor grammar
  docs/pipelines/tasks/test/vstest.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12390 Update personal-access-tokens.md
  docs/repos/git/includes/personal-access-tokens.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged

#11949 The user who creates Service Connection is added as "Administrator" on that Service Connection not added as "Administrator" at Project-level Service Connection Security.
  docs/pipelines/library/service-endpoints.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-library/tech

#11829 Update azure-rm-endpoint.md
  docs/pipelines/release/azure-rm-endpoint.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged

#11556 SSH with OpenSSL > 8.6 - where RSA is deprecated
  docs/repos/git/use-ssh-keys-to-authenticate.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech, aq-pr-triaged

#11309 Update azure-file-copy-v4.md
  docs/pipelines/tasks/includes/yaml/azure-file-copy-v4.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12504 Update wiki-markdown-guidance.md
  docs/project/wiki/wiki-markdown-guidance.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-collab/tech

#12494 Correcting Apache Maven product name
  docs/artifacts/get-started-maven.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-artifacts/tech, aq-pr-triaged

#12460 Update azure-sqldb.md
  docs/pipelines/targets/azure-sqldb.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-targets/tech

#12496 Update cycle-time-and-lead-time.md
  docs/report/dashboards/cycle-time-and-lead-time.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#12520 Process model is per project, not per organization
  docs/includes/choose-process-introduction.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-agile/tech, aq-pr-triaged

#12444 Remove "Set up the build task" section from SourceLink doc
  docs/artifacts/symbols/media/build-solution-task-classic.png
  docs/pipelines/artifacts/symbols.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-artifacts/tech

#12534 Update work-item-fields.md
  docs/boards/work-items/work-item-fields.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech, aq-pr-triaged

#12528 Update variables-hosted.md
  docs/pipelines/build/includes/variables-hosted.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#12517 "UTF-8 formatting" → "UTF-8 encoding"
  docs/pipelines/scripts/logging-commands.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-scripts/tech
