Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-06, with the labels that each got.

#12368 Adding a comma
  docs/boards/work-items/about-work-items.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#12102 Update kubernetes-manifest.md
  docs/pipelines/tasks/deploy/kubernetes-manifest.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12425 Update nuget.exe push to Azdo Artifact example
  docs/artifacts/includes/nuget/nuget-publish-endpoint.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#12438 Update approvals.md
  docs/pipelines/process/approvals.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-process/tech

#12357 Remove duplicate URL
  docs/organizations/security/allow-list-ip-url.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-security/tech, aq-pr-triaged

#12451 Update what-are-analytics-views.md
  docs/report/powerbi/what-are-analytics-views.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech

#12452 Update timezone-settings-usage.md
  docs/organizations/settings/timezone-settings-usage.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-settings/tech

#12454 Typo "Azure pipelines"→"Azure Pipelines"
  docs/pipelines/ecosystems/ruby.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-ecosystems/tech

#12424 Add detail and Doc link for firewall rules in Azure KeyVault to enable Azure KeyVault Task to work from services
  docs/pipelines/tasks/deploy/azure-key-vault.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech
