Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-03, with the labels that each got.

#12030 typo: Change "lean" to "learn".
  docs/pipelines/includes/create-first-pipeline-next-steps.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech

#12046 Remove duplicated links
  docs/boards/backlogs/define-features-epics.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#12056 Update analytics-views-warning.md
  docs/report/powerbi/includes/analytics-views-warning.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-analytics/tech, aq-pr-triaged

#11837 include ChartPath in the parameters for upgrade
  docs/pipelines/tasks/deploy/helm-deploy.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11841 Add more info about default values
  docs/pipelines/tasks/utility/extract-files.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11856 Correcting pat: to PAT:
  docs/pipelines/repos/azure-repos-git.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-repos/tech

#11912 Emphasise implications of Microsoft-hosted agents creating a new virtual machine for each job
  docs/pipelines/agents/includes/hosted-agent-intro.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#12045 Update of NuGet Push examples
  docs/pipelines/tasks/package/nuget.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12002 configurationString value should not contain colon
  docs/pipelines/tasks/deploy/azure-rm-web-app-containers.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12038 Update azure-sqldb.md
  docs/pipelines/targets/azure-sqldb.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-targets/tech

#11812 Fix Insteadof url example.
  docs/repos/git/go-get.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech, aq-pr-triaged

#11107 Included section on ML REST API task
  docs/pipelines/targets/azure-machine-learning.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-targets/tech

#11147 Replaces master with main
  docs/pipelines/repos/github.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-repos/tech

#11196 switch to latestVersion which is the same text from the includes and …
  docs/pipelines/tasks/deploy/azure-powershell.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11159 Provide justification to switch to PublishPipelineArtifacts task
  docs/pipelines/tasks/utility/publish-build-artifacts.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11283 Update Portable PDB section in index sources task
  docs/pipelines/tasks/build/index-sources-publish-symbols.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11299 Update vstest.md
  docs/pipelines/tasks/test/vstest.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12068 Update deploy-arm-template.md
  docs/pipelines/apps/cd/azure/deploy-arm-template.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-apps/tech

#12080 Update bash.md
  docs/pipelines/tasks/utility/bash.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-tasks/tech

#12075 Update run-retention.md
  docs/pipelines/build/run-retention.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-build/tech

#12092 Addded missing closing bracket
  docs/organizations/settings/work/customize-process-workflow.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#12096 Added dot for consistency
  docs/pipelines/tasks/test/vstest.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-tasks/tech

#12095 Removed closing square bracket
  docs/marketplace/get-tfs-extensions.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-marketplace/tech

#12093 Added missing whitespace
  docs/organizations/accounts/add-privacy-policy-url.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-accounts/tech

#12101 Repo sync fixes
  docs/pipelines/security/templates.md
  docs/pipelines/targets/azure-machine-learning.md
Labels: do-not-merge, Change sent to author, devops-cicd-security/tech

#12104 Update v2-windows.md
  docs/pipelines/agents/v2-windows.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-agents/tech

#11972 Cache task is only available in ADO service
  docs/pipelines/tasks/utility/cache.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12139 Change windows-latest from win19 to win22
  docs/pipelines/agents/hosted.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-cicd-agents/tech

#12114 Image windows-latest is now windows-2022
  docs/pipelines/agents/hosted.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-agents/tech

#12145 git-log-history...: fix description typo
  docs/repos/git/git-log-history-simplification.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech

#12144 Changed "am I am" to "am I"
  docs/pipelines/repos/multi-repo-checkout.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-repos/tech
