Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-08, with the labels that each got.

#12539 Update caching.md
  docs/pipelines/release/caching.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-release/tech

#12549 Update manage-readme-wiki-permissions.md
  docs/project/wiki/manage-readme-wiki-permissions.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-collab/tech

#12557 Fix URL and sample code in Note section
  docs/notifications/at-mentions.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-collab/tech

#12562 Update the maximum number of projects to 1000
  docs/organizations/settings/work/object-limits.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-agile/tech, aq-pr-triaged

#12566 Update variables.md
  docs/pipelines/process/variables.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-process/tech

#12546 Typo "Azure pipeline"→"Azure Pipelines "
  docs/pipelines/ecosystems/go.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-ecosystems/tech

#12575 Update project-admin-tutorial.md
  docs/user-guide/project-admin-tutorial.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-new-user/tech

#12598 Typo "Azure Container registry"→"Azure Container Registry"
  docs/pipelines/tasks/build/docker-compose.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-tasks/tech

#12591 Clarification on percentage calculation on the Progress report
  docs/test/progress-report.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-test/tech, aq-pr-triaged

#12607 Fix typo
  docs/repos/tfvc/what-is-tfvc.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-tfvc/tech

#12618 Update content in prerequisites section
  docs/organizations/accounts/change-azure-ad-connection.md
Labels: ready-to-merge, aq-pr-triaged

#12624 Clarify `npm audit` instructions
  docs/artifacts/npm/npm-audit.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-artifacts/tech, aq-pr-triaged

#12525 Better docs for promoting pkgs with the REST API
  docs/artifacts/feeds/views.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-artifacts/tech, aq-pr-triaged
