Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-01, with the labels that each got.

#11797 Note OAuth token support can be silently disabled
  docs/integrate/get-started/authentication/oauth.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-ecosystem/tech, aq-pr-triaged

#11800 Clarification on Teams channels type support.
  docs/boards/integrations/boards-teams.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech, aq-pr-triaged

#11784 Update documentation related to Import test suites from testplan
  docs/test/navigate-test-plans.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-test/tech, aq-pr-triaged

#11751 Update migrate-integrate.md
  docs/boards/extensions/migrate-integrate.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech, aq-pr-triaged

#11785 Fix typo in pipeline-artifacts.md
  docs/pipelines/artifacts/pipeline-artifacts.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-artifacts/tech

#11824 Moving the "Note" section higher in the page
  docs/organizations/accounts/azure-ad-tenant-policy-restrict-org-creation.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-accounts/tech

#11838 Basic Authentication does not use PATs
  docs/integrate/get-started/authentication/iis-basic-auth.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-ecosystem/tech

#11835 Binary code coverage for Linux
  docs/pipelines/tasks/build/dotnet-core-cli.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd-tasks/tech

#11820 Update set-variables-scripts.md
  docs/pipelines/process/set-variables-scripts.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#11762 Update get-status-badge.md
  docs/pipelines/includes/get-status-badge.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#11854 Stakeholder access to Azure Artifacts.
  docs/organizations/security/access-levels.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-security/tech, aq-pr-triaged

#11849 typo: *master
  docs/pipelines/targets/azure-sqldb.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-targets/tech

#11862 Fix spelling
  docs/boards/includes/feature-matrix-query-macros.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech

#11739 Typo "team explorer"→"Team Explorer"
  docs/repos/tfvc/get-code-reviewed-vs.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-tfvc/tech, aq-pr-triaged

#11842 Updates documentation
  docs/pipelines/tasks/deploy/azure-resource-group-deployment.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged

#11891 Update sprint-192-update.md
  release-notes/2021/includes/pipelines/sprint-192-update.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-release-notes/tech

#11893 Added missing space in about-work-items.md
  docs/boards/work-items/about-work-items.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech
