Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2022-05, with the labels that each got.

#12262 Fix spelling
  docs/pipelines/agents/v2-linux.md
Labels: do-not-merge, Change sent to author, devops/prod, review-team-triage, devops-cicd-agents/tech

#12282 Typo "Azure Pipeline"→"Azure Pipelines"
  release-notes/2019/includes/pipelines/sprint-158-update.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-release-notes/tech

#12284 remove extra / in sample urls
  docs/report/extend-analytics/analytics-recipes.md
Labels: ready-to-merge, Change sent to author, devops-analytics/tech, aq-pr-triaged

#12301 Address wrong word choice
  docs/boards/backlogs/display-rollup.md
Labels: do-not-merge, docs-editor-pilot

#12297 Typo "typescript"→"TypeScript"
  docs/extend/develop/add-build-task.md
Labels: ready-to-merge, Change sent to author, devops/prod, devops-ecosystem/tech, aq-pr-triaged

#12312 Improve convertToJson example
  docs/pipelines/process/expressions.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-process/tech

#12099 Update multi-repo-checkout.md
  docs/pipelines/repos/multi-repo-checkout.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-repos/tech

#12175 Update helm-deploy.md
  docs/pipelines/tasks/deploy/helm-deploy.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12215 Update docker.md
  docs/pipelines/agents/docker.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-agents/tech

#12302 Add additional FAQ to nuget-authenticate.md
  docs/pipelines/tasks/package/nuget-authenticate.md
Labels: ready-to-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12055 Document publish symbol task now supports Linux
  docs/pipelines/tasks/build/index-sources-publish-symbols.md
  docs/pipelines/tasks/includes/yaml/PublishSymbolsV2.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11814 Update vstest.md
  docs/pipelines/tasks/test/vstest.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#11944 These two pages appear to have the titles mixed up
  docs/pipelines/test/parallel-testing-any-test-runner.md
  docs/pipelines/test/parallel-testing-vstest.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-test/tech

#12042 Typo in customRegistry argument
  docs/pipelines/tasks/package/npm.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, devops-cicd-tasks/tech

#12078 Update variable-groups.md
  docs/pipelines/library/variable-groups.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, devops-cicd-library/tech

#12066 Update use-ssh-keys-to-authenticate.md
  docs/repos/git/use-ssh-keys-to-authenticate.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech, aq-pr-triaged

#12211 Update perform-migration-from-svn-to-git.md
  docs/repos/git/perform-migration-from-svn-to-git.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-git/tech, aq-pr-triaged

#12230 Update customize-pipeline.md
  docs/pipelines/customize-pipeline.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-cicd/tech, aq-pr-triaged

#12109 Typo "Azure Board tools"→"Azure Boards tools"
  docs/reference/xml/categories-xml-element-reference.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-agile/tech, aq-pr-triaged

#12098 Terminology: Changed `account` to `organization`
  release-notes/2019/includes/wiki/sprint-160-update.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-release-notes/tech, aq-pr-triaged

#12031 Added step to indicate how the review is completed
  docs/repos/tfvc/get-code-reviewed-vs.md
Labels: do-not-merge, Change sent to author, devops/prod, devops-code-tfvc/tech, aq-pr-triaged
