Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-08, with the labels that each got.

#13487 Update conditions.md. wrong reference in describing YAML file
  docs/pipelines/process/conditions.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13542 Add a missed word in stakeholder-access.md
  docs/organizations/security/stakeholder-access.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#13463 Update conditions.md
  docs/pipelines/process/conditions.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13439 Document the System.PullRequest.SourceCommitId variable
  docs/pipelines/build/includes/variables-hosted.md
  docs/pipelines/build/includes/variables-server-2020.md
  docs/pipelines/build/includes/variables-server2019.md
  docs/pipelines/build/includes/variables-tfs2015.md
  docs/pipelines/build/includes/variables-tfs2017.md
  docs/pipelines/build/includes/variables-tfs2018.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-build/subsvc

#13554 Replace GitHub Codespaces commands with Azure Pipelines Commands
  docs/extend/develop/add-build-task.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc

#13567 Update change-organization-location.md
  docs/organizations/accounts/change-organization-location.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-organizations/subsvc
