Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-01, with the labels that each got.

#12968 Update deployment-jobs.md checkout step behaviour information
  docs/pipelines/process/deployment-jobs.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#12991 Add a note on Anaconda environments on self-hosted agents
  docs/pipelines/ecosystems/anaconda.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#12997 Added looping inside an Object
  docs/pipelines/process/templates.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#12923 Fix script name
  docs/pipelines/agents/docker.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#12859 Corrected example to update retention leases
  docs/pipelines/build/run-retention.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-build/subsvc

#12902 Cleaning up the config Before running the config script.
  docs/pipelines/agents/docker.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#12912 Add information about 'latest' version
  docs/pipelines/tasks/includes/yaml/DownloadPackageV1.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-tasks/subsvc

#12835 Fix documentation for OpenSSH
  docs/repos/git/use-ssh-keys-to-authenticate.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13010 Update Approved Badges
  docs/extend/develop/manifest.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#13012 Clarify slightly ambiguous wording of comment
  docs/pipelines/artifacts/pypi.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-artifacts/subsvc

#13018 Fix typos in feed-permissions.md
  docs/artifacts/feeds/feed-permissions.md
Labels: do-not-merge, Change sent to author, azure-devops-artifacts/svc

#13019 Fix typos in upstream-sources.md
  docs/artifacts/concepts/upstream-sources.md
Labels: do-not-merge, Change sent to author, azure-devops-artifacts/svc

#13036 Fixed typo Turnup should be burnup in link text on add-widget-to-dashboard.md
  docs/report/dashboards/add-widget-to-dashboard.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-analytics/subsvc

#13021 Fix typo in artifactignore.md
  docs/artifacts/reference/artifactignore.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#13049 Update getDocuments limit
  docs/extend/develop/data-storage.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#13042 Fixed product name
  docs/pipelines/agents/includes/v2/prepare-permissions.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13040 Fixed URLs in README.md
  README.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged

#13015 Default macOS-latest image has changes
  docs/pipelines/agents/hosted.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#12915 Update retention.md
  docs/pipelines/policies/retention.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-policies/subsvc

#13064 Fix output variables documentation
  docs/pipelines/process/variables.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13003 Adding nested Object each loop
  docs/pipelines/process/expressions.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc
