Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-07, with the labels that each got.

#13451 Update change-azure-ad-connection.md
  docs/organizations/accounts/change-azure-ad-connection.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-organizations/subsvc

#13461 docs: make image dimension more noticeable
  docs/organizations/accounts/change-organization-image.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-organizations/subsvc

#13457 Update import-from-TFVC.md
  docs/repos/git/import-from-TFVC.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13120 added a warning for the deletion option for DTL
  docs/pipelines/apps/cd/azure/deploy-provision-devtest-lab.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-apps/subsvc

#13060 Add libicu66 installation to ubuntu 20.04 example
  docs/pipelines/agents/docker.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13061 Fixed code sample
  docs/pipelines/build/run-retention.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-build/subsvc

#13429 Update docker.md - replaced AGENT_MTU_VALUE with AGENT_DOCKER_MTU_VALUE
  docs/pipelines/agents/docker.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#12540 Update vso.work_full description to match UI
  docs/integrate/includes/scopes.md
Labels: do-not-merge, Change sent to author, devops/prod, aq-pr-triaged, azure-devops/svc

#13442 Update destroy-command-team-foundation-version-control.md
  docs/repos/tfvc/destroy-command-team-foundation-version-control.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-tfvc/subsvc

#13478 fixing syntax on alert
  docs/pipelines/apps/cd/azure/deploy-provision-devtest-lab.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-apps/subsvc

#13520 Update about-projects.md
  docs/organizations/projects/about-projects.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-projects/subsvc

#13519 Typo "Azure Pipeline tasks"→"Azure Pipelines tasks"
  docs/pipelines/agents/v3-agent.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines-agents/subsvc

#13518 fixed hyperlink url for php - index.yml
  docs/pipelines/index.yml
Labels: do-not-merge, Change sent to author, devops-cicd/tech, aq-pr-triaged, azure-devops-pipelines/svc

#13522 Typo "Azure Pipeline tasks"→"Azure Pipelines tasks"
  docs/extend/develop/work-with-urls.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc

#13523 Typo "Azure Pipeline tasks"→"Azure Pipelines tasks"
  docs/cross-service/github-integration.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-cross-service/subsvc

#13524 Typo "Azure Pipeline tasks"→"Azure Pipelines tasks"
  docs/pipelines/agents/osx-agent.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc
