Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-05, with the labels that each got.

#13300 Typo "Azure pipeline"→"Azure Pipelines"
  docs/pipelines/overview-azure.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc

#13302 Update branch-policies.md
  docs/repos/git/branch-policies.md
Labels: do-not-merge, Change sent to author, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13309 Typo "Azure pipeline"→"Azure Pipeline"
  docs/organizations/settings/naming-restrictions.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-settings/subsvc

#13311 Update import-from-TFVC.md
  docs/repos/git/import-from-TFVC.md
Labels: do-not-merge, Change sent to author, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13328 Updated resource.md
  docs/pipelines/security/resources.md
Labels: ready-to-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-security/subsvc

#13334 Update resources.md with missing full stop
  docs/pipelines/process/resources.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13347 Updating Old SDK with New SDK References
  docs/extend/develop/add-action.md
  docs/extend/develop/add-backlog-tabs.md
  docs/extend/develop/add-build-task.md
  docs/extend/develop/add-hub.md
  docs/extend/develop/add-query-result-tabs.md
  docs/extend/develop/add-workitem-extension.md
  docs/extend/develop/contributions-overview.md
  docs/extend/develop/data-storage.md
  docs/extend/develop/samples-overview.md
  docs/extend/develop/web-navigation.md
  docs/extend/get-started/node.md
  docs/extend/includes/procedures/create-web-page.md
  docs/extend/reference/targets/overview.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged

#13343 Specify correct arg in example, Typo fix
  docs/pipelines/artifacts/pypi.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-artifacts/subsvc

#13270 Document upstreams limit
  docs/artifacts/reference/limits.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#13141 Clarify where to put credentials for npm
  docs/artifacts/npm/npmrc.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#13342 Remove incorrect instruction for pushing to external feeds
  docs/pipelines/artifacts/nuget.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-artifacts/subsvc

#13187 fix line 182 indentation
  docs/pipelines/targets/azure-sqldb.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-targets/subsvc

#13081 Fixed an invalid link
  docs/pipelines/release/approvals/gates.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#13020 Update FAQ in pipeline-artifacts.md
  docs/pipelines/artifacts/pipeline-artifacts.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-artifacts/subsvc

#12908 fix condition for Docker cache save task
  docs/pipelines/release/caching.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc
