Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-06, with the labels that each got.

#12783 Document required directory permissions workaround
  docs/pipelines/release/caching.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#13376 Added a note on not being able to customize state category names
  docs/organizations/settings/includes/process-customize-workflow.md
Labels: ready-to-merge, Change sent to author, azure-devops/prod, azure-devops-boards/svc

#13398 Update: added steps, muted keys/id File: auditing-streaming.md
  docs/organizations/audit/auditing-streaming.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-audit/subsvc

#13326 Update windows-agent.md
  docs/pipelines/agents/windows-agent.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13323 Fix bash snippet for cloning with a PAT
  docs/repos/git/includes/personal-access-tokens.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc

#13283 Update xcode.md
  docs/pipelines/ecosystems/xcode.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#13179 Fix wording in note
  docs/repos/git/merging-with-squash.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13152 Add glossary PBI acronym
  docs/includes/glossary-terms/product-backlog-item.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc

#13290 Correction in verison of AKS that supports Docker in Docker
  docs/pipelines/agents/docker.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13289 doc: fix syntax highlighting
  docs/pipelines/agents/docker.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13295 Update multi-repo-checkout.md
  docs/pipelines/repos/multi-repo-checkout.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-repos/subsvc

#13137 Syntax fix and whitespace cleanup
  docs/pipelines/agents/v2-windows-agent.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13062 Add a link to the capabilities docs
  docs/pipelines/process/demands.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13367 service accounts no longer have automatic long life tokens
  docs/pipelines/process/environments-kubernetes.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13421 Typo Grand -> Grant
  docs/pipelines/library/service-endpoints.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-library/subsvc
