Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-11, with the labels that each got.

#13571 Added NOTE: Azure AD groups are not receiving notifications.
  docs/pipelines/release/approvals/approvals.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#13703 Trigger child pipeline for the same branch as the parent pipeline
  docs/pipelines/process/pipeline-triggers.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13712 Update deprecate-old-azure-artifacts.md
  release-notes/roadmap/deprecate-old-azure-artifacts.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#13569 fix: Can I import updates if the source changes later
  docs/repos/git/import-git-repository.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13509 Update workspace-command.md
  docs/repos/tfvc/workspace-command.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-tfvc/subsvc

#13759 Typo "a Azure DevOps"→"an Azure DevOps"
  docs/organizations/projects/connect-to-projects.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-projects/subsvc

#13746 Fix erroneous anchor
  docs/pipelines/build/includes/variables-hosted.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-build/subsvc

#13774 Typo "a Azure DevOps"→"an Azure～"
  release-notes/features-timeline.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-release-notes/subsvc

#13819 Remove confusing list item and adjust text to match screenshot
  docs/organizations/settings/manage-banners.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-settings/subsvc

#13825 Update about-projects.md
  docs/organizations/projects/about-projects.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-projects/subsvc
