Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-09, with the labels that each got.

#13624 Update devops-pipelines-baseline-architecture.md
  docs/pipelines/architectures/devops-pipelines-baseline-architecture.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc

#13513 Add additional context for Branch Policies best practices
  docs/repos/git/repository-settings.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13582 Update work-item-support-for-markdown.md to link to correct developer community thread
  release-notes/roadmap/2023/work-item-support-for-markdown.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#13493 Update hosted.md
  docs/pipelines/agents/hosted.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13580 Add a note about the agent encoding issues
  docs/pipelines/agents/agents.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13622 fixed folder name for tool cache with codeql
  docs/repos/security/configure-github-advanced-security-features.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-integration/subsvc

#13607 being explicit about coalesce function
  docs/pipelines/process/expressions.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13671 Fix weird table formatting that cause the entire page to look weird.
  docs/extend/develop/add-build-task.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc

#13538 Add extra information about user permissions for pushing Universal Packages
  docs/pipelines/artifacts/universal-packages.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-artifacts/subsvc

#13496 Update caching.md
  docs/pipelines/release/caching.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc
