Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-12, with the labels that each got.

#13850 Missing --policy-configuration in example
  docs/cli/policy-configuration-file.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-reference/subsvc

#13842 Improve documentation about how to select multiple work items for bulk edit
  docs/boards/backlogs/bulk-modify-work-items.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#13841 Fix links to teams/slack by swapping them
  docs/user-guide/project-admin-tutorial.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-new-user/subsvc

#13851 Update link format
  docs/project/search/install-configure-search.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-search/subsvc

#13844 Fix step by step manual regarding connection of local git repo to an Azure Repos git repo
  docs/repos/git/creatingrepo.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13821 Correct example to match 'input' values given just above
  docs/pipelines/process/run-number.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13839 Remove version indicator for Build Tools version download
  docs/pipelines/agents/windows-agent.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13832 Update VMSS sample create command
  docs/pipelines/agents/scale-set-agents.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13847 Update service-principal-managed-identity.md
  docs/integrate/get-started/authentication/service-principal-managed-identity.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#13863 [Fix] Repository Variables: Undefined version variable
  docs/pipelines/process/resources.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13879 fix typo
  docs/pipelines/ecosystems/dotnet-core.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc

#13877 Updating to the correct 500 limit
  docs/boards/github/index.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#13799 Update required rust toolchain for registry auth
  docs/artifacts/get-started-cargo.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#13882 Add banner link format in manage-banners.md
  docs/organizations/settings/manage-banners.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-settings/subsvc
