Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-04, with the labels that each got.

#13223 fix: semantic search header with moniker new-line (#13221)
  docs/boards/queries/search-box-queries.md
Labels: do-not-merge, Change sent to author, azure-devops-boards/svc

#13232 Fix redundant link.
  docs/organizations/projects/create-project.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-projects/subsvc

#13240 Update add-users-team-project.md
  docs/organizations/security/add-users-team-project.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#13244 Added Scope for PAT
  docs/pipelines/ecosystems/github-actions.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc

#13193 Fix typo
  docs/pipelines/repos/azure-repos-git.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-repos/subsvc

#13252 Update index.md
  docs/pipelines/release/deployment-groups/index.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#13254 Fix typo in service-principal-managed-identity.md
  docs/integrate/get-started/authentication/service-principal-managed-identity.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#13267 Update faq-search.yml
  docs/project/search/faq-search.yml
Labels: ready-to-merge, Change sent to author, azure-devops/svc

#13210 Update link to macOS install instructions in set-up-credential-managers.md
  docs/repos/git/set-up-credential-managers.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13271 docs: fix broken markdown formatting
  docs/organizations/security/allow-list-ip-url.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#13276 Minor clarity update to link-to-from-github.md
  docs/boards/github/link-to-from-github.md
Labels: ready-to-merge, Change sent to author, azure-devops-boards/svc
