Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-10, with the labels that each got.

#13677 Move a comma to make a sentence make sense.
  docs/repos/security/github-advanced-security-dependency-scanning.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-integration/subsvc

#13679 Update security-best-practices.md
  docs/organizations/security/security-best-practices.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#13685 Update faq-set-up-vs.yml - Add brief note to point out compatible doesn't mean supported or a good idea.
  docs/organizations/accounts/faq-set-up-vs.yml
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-organizations/subsvc

#13694 Remove sudo from command example
  docs/pipelines/agents/osx-agent.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13593 review-pull-requests.md: Fixed sample for three-dot-diff in PRs
  docs/repos/git/review-pull-requests.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13709 Update permissions-access.md - typo
  docs/organizations/security/permissions-access.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#13710 Update permissions-access.md
  docs/organizations/security/permissions-access.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#13706 Update github-advanced-security-dependency-scanning.md
  docs/repos/security/github-advanced-security-dependency-scanning.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-integration/subsvc

#13717 Update sprint-227 with Microsoft Entra instead of AAD
  release-notes/2023/includes/pipelines/sprint-227-update.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-release-notes/subsvc

#13716 Wording change from " Azure Active Directory" to "Microsoft Entra"
  release-notes/2023/includes/general/sprint-228-update.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-release-notes/subsvc

#13728 Update data-location.md
  docs/organizations/security/data-location.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#13730 Add GHAzDO Code Scanning Sample file
  docs/repos/security/configure-github-advanced-security-features.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-integration/subsvc

#13740 Add the 2 toggles for disabling creation of classic pipelines.
  docs/pipelines/security/approach.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-security/subsvc
