Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2023-03, with the labels that each got.

#13154 IIS configuration docs only apply to ADO Server
  docs/integrate/get-started/authentication/iis-basic-auth.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc

#13156 Update restrict-invitations.md
  docs/organizations/security/restrict-invitations.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#13163 Adding a section dealing with ransomware protection
  docs/organizations/security/data-protection.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#13190 Update change-azure-ad-connection.md
  docs/organizations/accounts/change-azure-ad-connection.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-organizations/subsvc

#13196 Added how to add a pipe to a table
  docs/project/wiki/markdown-guidance.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-wiki/subsvc

#13200 fix: Remove empty bullet point in "Define variables"
  docs/pipelines/process/variables.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13186 Update resources.md
  docs/pipelines/process/resources.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13153 Fix for yaml pipeline job in #13098
  docs/pipelines/process/phases.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13103 Corrected typo in code
  docs/pipelines/process/run-number.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13149 Fixed resourceType value and added new example
  docs/pipelines/process/environments-virtual-machines.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13118 Added missing powershell code example
  docs/pipelines/process/set-variables-scripts.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13211 Remove dollar sign from command example in CLI doc
  docs/cli/index.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-reference/subsvc

#13214 Update auditing-streaming.md
  docs/organizations/audit/auditing-streaming.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-audit/subsvc

#13220 Update service-principal-managed-identity.md
  docs/integrate/get-started/authentication/service-principal-managed-identity.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc
