Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-02, with the labels that each got.

#13977 Updating tenant switch faq
  docs/organizations/accounts/change-azure-ad-connection.md
  docs/organizations/accounts/faq-azure-access.yml
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-organizations/subsvc

#13993 Update certificate.md
  docs/pipelines/agents/certificate.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14011 Ssh rsa deprecation docs adjustments
  docs/repos/git/use-ssh-keys-to-authenticate.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#14016 Fixed typo in '$(Date:yyyyMMdd).$(Rev:.r)'. A period was missing.
  docs/pipelines/process/run-number.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14007 Fix help for System.StageAttempt to say it increments when the stage is retried.
  docs/pipelines/build/includes/variables-server-2022.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-build/subsvc

#14030 Update in faq-azure-access.yml
  docs/organizations/accounts/faq-azure-access.yml
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-organizations/subsvc

#14028 Update dotnet-core.md to fix Broken Link on Publish Pipeline Artifact
  docs/pipelines/ecosystems/dotnet-core.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc

#13939 Rebranding of Azure AD to Entra ID
  release-notes/features-timeline.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#13949 Update multi-repo-checkout.md
  docs/pipelines/repos/multi-repo-checkout.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-repos/subsvc

#13989 Update docker.md
  docs/pipelines/agents/docker.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14001 Update Pipeline Caching doc to clarify s needed for checkout: self.
  docs/pipelines/release/caching.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#14037 Fix backtick example in markdown guidance page
  docs/project/wiki/markdown-guidance.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-wiki/subsvc
