Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-03, with the labels that each got.

#14040 Update functional-code-search.md: remove duplicate table row
  docs/project/search/functional-code-search.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-search/subsvc

#14046 Update URL to Wiql DevOps Extension
  docs/boards/queries/wiql-syntax.md
Labels: ready-to-merge, Change sent to author, azure-devops-boards/svc

#14049 Format policy-configuration in policy-configuration-file.md
  docs/cli/policy-configuration-file.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-reference/subsvc

#14043 Update windows-agent.md
  docs/pipelines/agents/windows-agent.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc
