Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-10, with the labels that each got.

#14147 Update plan-your-azure-devops-org-structure.md
  docs/user-guide/plan-your-azure-devops-org-structure.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-new-user/subsvc

#14149 Update change-application-access-policies.md
  docs/organizations/accounts/change-application-access-policies.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-organizations/subsvc

#14150 Update github-advanced-security-secret-scanning.md - fix spelling error
  docs/repos/security/github-advanced-security-secret-scanning.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-integration/subsvc

#14143 Fix wrong code block structure
  docs/repos/git/use-ssh-keys-to-authenticate.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#14115 Update configure-security.md
  docs/managed-devops-pools/configure-security.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-managed-devops-pools/subsvc

#14116 Update monitor-pool.md
  docs/managed-devops-pools/monitor-pool.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-managed-devops-pools/subsvc

#14123 Agent version check document should not refer specific agent version
  docs/pipelines/agents/includes/v2/qa-agent-version.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14130 [Patch 15] Add the correct link for "skip downloading"
  docs/pipelines/release/artifacts.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#14151 Update phases.md
  docs/pipelines/process/phases.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14134 Clarify Custom Role Definition for AzureDevopsInfrastructure Principal
  docs/managed-devops-pools/configure-networking.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-managed-devops-pools/subsvc

#14141 Update deployment-jobs.md
  docs/pipelines/process/deployment-jobs.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14157 Update migration-prepare-test-run.md
  docs/migrate/migration-prepare-test-run.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-migrate/subsvc

#14158 [Minor spelling issue] Fixed casing
  release-notes/roadmap/2024/ghazdo/secret-validity.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-release-notes/subsvc

#14160 Spelling !!
  docs/artifacts/quickstarts/python-cli.md
  docs/boards/backlogs/configure-your-backlog-view.md
  docs/boards/backlogs/manage-work-items.md
  docs/boards/backlogs/remove-delete-work-items.md
  docs/boards/extensions/dependency-tracker.md
  docs/boards/queries/import-work-items-from-csv.md
  docs/boards/queries/query-index-quick-ref.md
  docs/boards/queries/query-operators-variables.md
  docs/boards/sprints/scrum-key-concepts.md
  docs/extend/develop/service-endpoints.md
  docs/extend/develop/using-host-dialog.md
  docs/extend/develop/web-navigation.md
  docs/includes/features-not-available-stakeholder.md
  docs/managed-devops-pools/configure-images.md
  docs/managed-devops-pools/configure-scaling.md
  docs/managed-devops-pools/configure-storage.md
  docs/organizations/security/includes/environment-roles.md
  docs/organizations/settings/add-teams.md
  docs/organizations/settings/work/customize-process-work-item-type.md
  docs/organizations/settings/work/import-process/differences.md
  docs/pipelines/create-first-pipeline.md
  docs/pipelines/ecosystems/kubernetes/canary-demo.md
  docs/pipelines/release/define-multistage-release-process.md
  docs/pipelines/release/troubleshoot-workload-identity.md
  docs/pipelines/scripts/cli/pipeline-variable-group-secret-nonsecret-variables.md
  docs/pipelines/troubleshooting/review-logs.md
  docs/reference/add-portfolio-backlogs.md
  docs/reference/on-premises-xml-process-model.md
  docs/report/extend-analytics/aggregated-data-analytics.md
  docs/report/extend-analytics/analytics-metadata.md
  docs/report/extend-analytics/wit-analytics.md
  docs/report/powerbi/data-connector-connect.md
  docs/report/powerbi/reporting-roadmap.md
  docs/report/powerbi/sample-boards-sprintburndown.md
  docs/report/sql-reports/migration-guide.md
  docs/repos/git/branch-permissions.md
  docs/repos/git/create-new-repo.md
  docs/repos/security/github-advanced-security-dependency-scanning.md
  docs/repos/security/includes/non-provider-table.md
  docs/repos/tfvc/remove-access-version-control-files.md
  docs/test/create-test-cases.md
  docs/test/voluntary-stakeholder-feedback.md
  release-notes/2019/includes/pipelines/sprint-160-update.md
  release-notes/2019/includes/pipelines/sprint-162-update.md
  release-notes/2019/includes/wiki/sprint-154-update.md
  release-notes/2020/includes/pipelines/sprint-172-update.md
  release-notes/2022/includes/boards/sprint-204-update.md
  release-notes/2023/includes/boards/sprint-219-update.md
  release-notes/2023/includes/pipelines/sprint-224-update.md
  release-notes/2023/includes/pipelines/sprint-231-update.md
  release-notes/features-timeline.md
  release-notes/roadmap/2022/checks-scalability.md
  release-notes/roadmap/2022/secret-free-acr-deployments.md
  release-notes/roadmap/2023/charts-option-for-resolved-as-closed.md
  release-notes/roadmap/2023/recycle-bin-improvements.md
  release-notes/roadmap/2024/boards-ab-links-github-pr.md
  release-notes/roadmap/2024/boards-ghec-data-residency-support.md
  release-notes/roadmap/2024/boards-permanently-delete-attachment.md
  release-notes/roadmap/conditional-access-policy.md
  release-notes/roadmap/granular-scopes.md
Labels: do-not-merge

#14159 Update personal-access-tokens.md
  docs/repos/git/includes/personal-access-tokens.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc

#14161 Spelling fixes
  docs/artifacts/toc.yml
  docs/boards/queries/query-faqs.yml
  docs/boards/toc.yml
  docs/boards/work-items/toc.yml
  docs/managed-devops-pools/configure-scaling.md
  docs/organizations/billing/toc.yml
  docs/organizations/settings/work/faqs.yml
  docs/organizations/settings/work/import-process/resolve-errors.md
  docs/organizations/toc.yml
  docs/report/toc.yml
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-managed-devops-pools/subsvc
