Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-12, with the labels that each got.

#14181 fix sample task DependencyScanning timeout
  docs/repos/security/github-advanced-security-dependency-scanning-troubleshoot.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-integration/subsvc

#14183 Update security-best-practices.md
  docs/organizations/security/security-best-practices.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#14188 Update query-by-date-or-current-iteration.md
  docs/boards/queries/query-by-date-or-current-iteration.md
Labels: ready-to-merge, Change sent to author, azure-devops-boards/svc

#14189 Update security-best-practices.md
  docs/organizations/security/security-best-practices.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#14187 Update webhooks.md
  docs/service-hooks/services/webhooks.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-service-hooks/subsvc

#14154 support authenticating with a service principal in Linux
  docs/pipelines/agents/docker.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14186 fix: Correct grammar for better readability
  docs/pipelines/security/secrets.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-security/subsvc

#14184 Update agent-authentication-options.md
  docs/pipelines/agents/agent-authentication-options.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14180 Fix friendly name of code coverage collection for Microsoft.NET.Test.SDK
  docs/pipelines/ecosystems/dotnet-core.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc
