Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-05, with the labels that each got.

#14068 Update azure-key-vault.md - Fix azure portal link
  docs/pipelines/release/azure-key-vault.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#14072 Clarify current behavior in Pipeline Caching
  docs/pipelines/release/caching.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#14067 Update the troubleshoot section
  docs/artifacts/npm/npmrc.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#14074 Update migrate-packages.md
  docs/artifacts/tutorials/migrate-packages.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#14077 added a note for the default branch search in case of search request
  docs/project/search/functional-code-search.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-search/subsvc

#14085 Fix broken HTML in Add a dashboard widget
  docs/extend/develop/add-dashboard-widget.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc
