Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-09, with the labels that each got.

#14135 Align text with code
  docs/pipelines/process/conditions.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14136 Update outdated related resource links on page Azure DevOps object limits
  docs/organizations/settings/work/object-limits.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#14097 Update forks.md for Read permissions
  docs/repos/git/forks.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#14099 Update key-vault-in-own-project.md
  docs/pipelines/release/key-vault-in-own-project.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#14144 Updated Event Summary for Pull Request Approved
  docs/service-hooks/events.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-service-hooks/subsvc

#14146 Added Topic heading for Service Connections
  docs/service-hooks/events.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-service-hooks/subsvc

#14145 Small fix for Event ID description
  docs/service-hooks/events.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-service-hooks/subsvc

#14095 Add App Center retirement warnings
  docs/pipelines/ecosystems/android.md
  docs/pipelines/ecosystems/xcode.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#14142 Remove wrong variable reference.
  docs/pipelines/process/deployment-jobs.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc
