Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-11, with the labels that each got.

#14164 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: do-not-merge

#14128 Remove invalid command in python-webapp.md
  docs/pipelines/ecosystems/python-webapp.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#14152 Update ui-testing-considerations.md
  docs/pipelines/test/ui-testing-considerations.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-test/subsvc

#14110 Update invoke-checks.md to reflect reality
  docs/pipelines/process/invoke-checks.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14137 Update variables.md to elaborate on variable syntax usage.
  docs/pipelines/process/variables.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14167 Update work-across-projects.md
  docs/project/navigation/work-across-projects.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-projects/subsvc

#14168 Update set-iteration-paths-sprints.md
  docs/organizations/settings/set-iteration-paths-sprints.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-settings/subsvc

#14114 Update prerequisites.md
  docs/managed-devops-pools/prerequisites.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-managed-devops-pools/subsvc

#14170 Update connect-organization-to-azure-ad.md
  docs/organizations/accounts/connect-organization-to-azure-ad.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-organizations/subsvc

#14173 Small Spelling fix
  docs/pipelines/process/includes/secret-variables-logging.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14175 Update plan-your-azure-devops-org-structure.md
  docs/user-guide/plan-your-azure-devops-org-structure.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-new-user/subsvc

#14174 Update security-best-practices.md
  docs/organizations/security/security-best-practices.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#14177 Fixed casing of "GitHub"
  release-notes/roadmap/2024/boards-ghec-data-residency-support.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-release-notes/subsvc

#14178 Update security-best-practices.md
  docs/organizations/security/security-best-practices.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc
