Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-08, with the labels that each got.

#14109 Update query-by-date-or-current-iteration.md
  docs/boards/queries/query-by-date-or-current-iteration.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#14118 Update add-pipeline-decorator.md
  docs/extend/develop/add-pipeline-decorator.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#14112 Specify -t flag for ssh-keygen
  docs/repos/git/use-ssh-keys-to-authenticate.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#14106 Changing the serv conn image
  docs/pipelines/media/azure-service-connection-settings-devops-services.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged

#14105 Add a note about triggers on non-default branch to resources.md
  docs/pipelines/process/resources.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14125 Fix URL format for Advanced Security links
  release-notes/2024/includes/ghazdo/sprint-243-update.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#14127 Update service-principal-agent-registration.md
  docs/pipelines/agents/service-principal-agent-registration.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14119 Update project-scoped-feeds.md
  docs/artifacts/feeds/project-scoped-feeds.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#14133 Remove deferred approvals from Azure DevOps Server 2022 documentation
  docs/pipelines/process/approvals.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc
