Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-06, with the labels that each got.

#14089 Update migrate-integrate.md
  docs/boards/extensions/migrate-integrate.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#14090 State not required when updating existing work items using the Import Work Items tool
  docs/boards/queries/import-work-items-from-csv.md
Labels: ready-to-merge, Change sent to author, azure-devops-boards/svc

#14070 update link in review-code-coverage-results
  docs/pipelines/test/review-code-coverage-results.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-test/subsvc

#14057 Update supported macOS for self hosted agents
  docs/pipelines/agents/osx-agent.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc, Stale

#14073 Update limitations-gh.md
  docs/pipelines/repos/includes/limitations-gh.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged

#14062 Update transforms-variable-substitution.md
  docs/pipelines/tasks/transforms-variable-substitution.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-tasks/subsvc

#14075 fix encoding the token
  docs/repos/git/includes/personal-access-tokens.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc

#14080 Update broken link for GitHub Flow
  docs/repos/git/import-from-TFVC.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#14082 Add note about issues with PSModulePath to windows-agent.md
  docs/pipelines/agents/windows-agent.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14084 Add Service Principal section for registering self-hosted agents
  docs/pipelines/agents/includes/v3/unattended-config.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14094 pipelines/artifacts: fix typo
  docs/pipelines/artifacts/artifacts-overview.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-artifacts/subsvc
