Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2024-01, with the labels that each got.

#13896 Update environments-virtual-machines.md
  docs/pipelines/process/environments-virtual-machines.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13892 Update dotnet-core.md
  docs/pipelines/ecosystems/dotnet-core.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#13908 Typo "a Azure DevOps"→"an Azure DevOps"
  docs/repos/git/forks.md
Labels: do-not-merge, Change sent to author, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13912 Typo "a Azure DevOps"→"an Azure DevOps"
  docs/report/extend-analytics/account-scoped-queries.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-analytics/subsvc

#13921 Typo "a Azure DevOps"→"an Azure DevOps"
  docs/report/extend-analytics/odata-batch.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-analytics/subsvc

#13923 Typo "a Azure DevOps"→"an Azure DevOps"
  docs/report/extend-analytics/work-item-links.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-analytics/subsvc

#13928 Typo
  docs/repos/tfvc/permission-command.md
Labels: do-not-merge, Change sent to author, azure-devops-repos/svc, azure-devops-repos-tfvc/subsvc

#13932 Fix invalid XML
  docs/reference/add-wits-to-backlogs-and-boards.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#13930 Clarification that secret scanner scans all existing commits
  docs/repos/security/github-advanced-security-secret-scanning.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-integration/subsvc

#13940 fix: corrects link path to security page in section "Pre-requisites" in rename-remove-team.md
  docs/organizations/settings/rename-remove-team.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-settings/subsvc

#13941 Advanced Security - Update codeql reference config
  docs/repos/security/configure-github-advanced-security-features.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-integration/subsvc

#13950 Update organization-name-limitation.md
  docs/includes/organization-name-limitation.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc

#13947 Fix typo in run-number.md
  docs/pipelines/process/run-number.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13926 Removed self-contradiction in ADO LFS docs
  docs/repos/git/manage-large-files.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-repos/svc, azure-devops-repos-git/subsvc

#13904 Fixed some typos and phrasing
  docs/pipelines/agents/includes/v3/prepare-permissions.md
  docs/pipelines/agents/windows-agent.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#13885 Update Universal package note
  docs/artifacts/how-to/set-up-upstream-sources.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-artifacts/svc

#13960 Update data-storage.md to include the limit on document IDs lengths.
  docs/extend/develop/data-storage.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#13944 Change location of imposed limits on Azure Templates
  docs/pipelines/process/template-expressions.md
  docs/pipelines/process/templates.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#13971 Fix markdown link
  docs/pipelines/ecosystems/nodejs-tutorial.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-ecosystem/subsvc
