Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2025-04, with the labels that each got.

#14272 Update github-advanced-security-code-scanning-troubleshoot.md
  docs/repos/security/github-advanced-security-code-scanning-troubleshoot.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-integration/subsvc

#14268 python-webapp.md: fix missing package
  docs/pipelines/ecosystems/python-webapp.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#14285 FIX: Missing "-" in YAML snippet
  release-notes/2025/includes/repos/sprint-248-update.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#14286 Clarify how 'private' extensions work
  docs/extend/develop/manifest.md
  docs/extend/includes/procedures/publish.md
  docs/extend/overview.md
  docs/extend/publish/overview.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged
