Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2025-07, with the labels that each got.

#14304 Fix typo on reliability-managed-devops-pools.md
  docs/managed-devops-pools/reliability-managed-devops-pools.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-managed-devops-pools/subsvc

#14306 Update configure-images.md
  docs/managed-devops-pools/configure-images.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-managed-devops-pools/subsvc

#14303 Fixed typo (sentence fragment)
  docs/pipelines/release/triggers.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc
