Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2025-01, with the labels that each got.

#14191 Update about-areas-iterations.md
  docs/organizations/settings/about-areas-iterations.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-settings/subsvc

#14192 Added information about container security
  docs/organizations/security/security-best-practices.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#14166 Fix Build.SourceBranchName variable replaces hyphens (-) with underscores (_) in tag names
  docs/pipelines/build/includes/variables-hosted.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-build/subsvc

#14193 Update YAML parsing limits value
  docs/pipelines/process/templates.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14194 Updated gcm screenshot to git version 2.47.1
  docs/repos/git/media/install-git-with-git-credential-manager.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged

#14197 Update migrate-integrate.md
  docs/boards/extensions/migrate-integrate.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#14198 Update migration-overview.md
  docs/migrate/migration-overview.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-migrate/subsvc

#14199 Update security-best-practices.md
  docs/organizations/security/security-best-practices.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#14200 Update phases.md
  docs/pipelines/process/phases.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14203 Update security-best-practices.md
  docs/organizations/security/security-best-practices.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-security/subsvc

#14204 Update migration-overview.md
  docs/migrate/migration-overview.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-migrate/subsvc

#14209 Update manage-requirements.md
  docs/cross-service/manage-requirements.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-cross-service/subsvc

#14208 Update index.md
  docs/integrate/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-ecosystem/subsvc

#14212 Fix typo: Missing bold syntax in navigation/index.md
  docs/project/navigation/index.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-projects/subsvc

#14213 Update security-best-practices.md to fix link
  docs/organizations/security/security-best-practices.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc

#14210 Add note about AKS user authentication expiration scenario in service-endpoints.md
  docs/pipelines/library/service-endpoints.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-library/subsvc

#14205 Update scheduled-triggers.md
  docs/pipelines/process/scheduled-triggers.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14211 Fix example typo in expressions.md
  docs/pipelines/process/expressions.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc
