Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2025-03, with the labels that each got.

#14256 Update dashboards.md to match screenshot
  docs/report/dashboards/dashboards.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-analytics/subsvc

#14258 Fix order in install-github-app.md
  docs/boards/github/install-github-app.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#14271 Fix typos
  docs/pipelines/repos/includes/ci-triggers1.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-repos/subsvc

#14255 Add missing code markers
  docs/managed-devops-pools/monitor-pool.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-managed-devops-pools/subsvc

#14250 Update for macOS-latest.md
  docs/pipelines/agents/hosted.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14245 Refer to 'Azure Compute Gallery' instead of 'Shared Image Gallery' as this name is no longer used and causes confusion
  docs/managed-devops-pools/demands.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-managed-devops-pools/subsvc

#14239 Remove extra ` character in a example script
  docs/pipelines/library/variable-groups.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-library/subsvc

#14278 Fixed code style sprint-251-update.md for ghazdo
  release-notes/2025/includes/ghazdo/sprint-251-update.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc
