Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2025-05, with the labels that each got.

#14287 YAML formatting fix on azure-sqldb.md
  docs/pipelines/targets/azure-sqldb.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-targets/subsvc

#14288 Update features-timeline-released.md to Remove stringList
  release-notes/features-timeline-released.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#14289 Update github-advanced-security-code-scanning-troubleshoot.md to fix …
  docs/repos/security/github-advanced-security-code-scanning-troubleshoot.md
Labels: do-not-merge, Change sent to author, azure-devops/svc, azure-devops-integration/subsvc

#14276 Fixed layout issue
  release-notes/features-timeline-released.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#14267 service-endpoints.md: fix npm service connection registry URL description
  docs/pipelines/library/service-endpoints.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-library/subsvc

#14269 Update configure.md with AzDevOpsDemoGenerator repository
  docs/demo-gen/configure.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-new-user/subsvc

#14290 Updated doc, removing empty row
  docs/pipelines/security/overview.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-security/subsvc

#14293 fix: typo
  docs/pipelines/release/approvals/gates.md
Labels: do-not-merge, Change sent to author, azure-devops-pipelines/svc, azure-devops-pipelines-release/subsvc

#14292 Update test-impact-analysis.md
  docs/pipelines/test/test-impact-analysis.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-test/subsvc

#14295 Removed ubuntu 20.04 as available image for hosted agents
  docs/pipelines/agents/hosted.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc
