Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2025-02, with the labels that each got.

#14215 Update sprint-248-update.md
  release-notes/2025/includes/pipelines/sprint-248-update.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-release-notes/subsvc

#14201 Clarify secret variables are not injected
  docs/pipelines/process/variables.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14225 :memo: correct use of the userID in the API call
  docs/organizations/notifications/at-mentions.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-notifications/subsvc

#14221 Correct documentation for 3 Predefined Pipeline Variable's template availability
  docs/pipelines/build/includes/variables-hosted.md
  docs/pipelines/build/includes/variables-server-2020.md
  docs/pipelines/build/includes/variables-server-2022.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-build/subsvc

#14235 Update migrate-integrate.md
  docs/boards/extensions/migrate-integrate.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-boards/svc

#14237 Correct date in install-configure-search.md
  docs/project/search/install-configure-search.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-search/subsvc

#14243 Update migration-overview.md
  docs/migrate/migration-overview.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-migrate/subsvc

#14252 Correct pipeline task name for automatic download
  docs/repos/security/configure-github-advanced-security-features.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops/svc, azure-devops-integration/subsvc

#14253 Update allow-list-ip-url.md
  docs/organizations/security/allow-list-ip-url.md
Labels: ready-to-merge, Change sent to author, azure-devops/svc, azure-devops-security/subsvc
