Repository MicrosoftDocs/azure-devops-docs, pull requests merged in 2025-08, with the labels that each got.

#14309 Added Ubuntu 24.04 image version
  docs/pipelines/agents/linux-agent.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14308 Drop CBL Mariner 2.0 support for 3.x agents
  docs/pipelines/agents/v3-agent.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-agents/subsvc

#14313 Adding note to output variables for use in future jobs
  docs/pipelines/process/set-variables-scripts.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-process/subsvc

#14319 Improve clarity of PR triggers paragraph
  docs/pipelines/repos/azure-repos-git.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-devops-pipelines/svc, azure-devops-pipelines-repos/subsvc
