Repository MicrosoftDocs/azure-devops-docs, changes with the owners that CODEOWNERS names for each.
All owners: @MicrosoftDocs/azure-devops-content-team, @MicrosoftDocs/azure-devops-pipelines-content-approvers, @MicrosoftDocs/azure-devops-repos-content-approvers, @MicrosoftDocs/azure-devops-integrate-approvers, @MicrosoftDocs/azure-devops-report-content-approvers, @MicrosoftDocs/azure-devops-boards-content-approvers, @MicrosoftDocs/azure-devops-collaborate-content-approvers, @MicrosoftDocs/azure-devops-setup-admin-approvers, @MicrosoftDocs/azure-devops-release-notes-approvers, @MicrosoftDocs/azure-devops-content-release-managers, @MicrosoftDocs/azure-devops-test-docs-approvers, @MicrosoftDocs/azure-devops-artifacts-content-approvers

fixing name for VS2019 (#4558)
  docs/pipelines/agents/hosted.md
Owners: @MicrosoftDocs/azure-devops-pipelines-content-approvers

fixing name for VS2019 (#4558)
  docs/pipelines/agents/hosted.md
Owners: @MicrosoftDocs/azure-devops-pipelines-content-approvers

topic-tech-author metadata changes
  docs/migrate/build-deployment-best-practices.md
  docs/migrate/index.md
  docs/migrate/migrate-from-tfs.md
  docs/migrate/migration-import.md
  docs/migrate/migration-overview.md
  docs/migrate/migration-post-import.md
  docs/migrate/migration-processtemplates.md
  docs/migrate/migration-troubleshooting.md
  docs/migrate/phase-features-with-feature-flags.md
  docs/migrate/phase-rollout-with-rings.md
  docs/migrate/security-validation-cicd-pipeline.md
Owners: @MicrosoftDocs/azure-devops-content-team

topic-tech-author metadata changes
  docs/migrate/build-deployment-best-practices.md
  docs/migrate/index.md
  docs/migrate/migrate-from-tfs.md
  docs/migrate/migration-import.md
  docs/migrate/migration-overview.md
  docs/migrate/migration-post-import.md
  docs/migrate/migration-processtemplates.md
  docs/migrate/migration-troubleshooting.md
  docs/migrate/phase-features-with-feature-flags.md
  docs/migrate/phase-rollout-with-rings.md
  docs/migrate/security-validation-cicd-pipeline.md
Owners: @MicrosoftDocs/azure-devops-content-team

Updated note for Mermaid support
  docs/project/wiki/wiki-markdown-guidance.md
Owners: @MicrosoftDocs/azure-devops-repos-content-approvers

Updated note for Mermaid support
  docs/project/wiki/wiki-markdown-guidance.md
Owners: @MicrosoftDocs/azure-devops-repos-content-approvers

Update
  docs/project/wiki/wiki-markdown-guidance.md
Owners: @MicrosoftDocs/azure-devops-repos-content-approvers

Update
  docs/project/wiki/wiki-markdown-guidance.md
Owners: @MicrosoftDocs/azure-devops-repos-content-approvers

Fixed link
  docs/project/wiki/wiki-markdown-guidance.md
Owners: @MicrosoftDocs/azure-devops-repos-content-approvers

Fixed link
  docs/project/wiki/wiki-markdown-guidance.md
Owners: @MicrosoftDocs/azure-devops-repos-content-approvers

Tweaks
  docs/pipelines/tasks/test/container-structure-test-task.md
Owners: @MicrosoftDocs/azure-devops-pipelines-content-approvers

Tweaks
  docs/pipelines/tasks/test/container-structure-test-task.md
Owners: @MicrosoftDocs/azure-devops-pipelines-content-approvers

Fixing date
  docs/pipelines/policies/permissions.md
Owners: @MicrosoftDocs/azure-devops-pipelines-content-approvers

Fixing date
  docs/pipelines/policies/permissions.md
Owners: @MicrosoftDocs/azure-devops-pipelines-content-approvers

Mermaid release notes link
  docs/project/wiki/wiki-markdown-guidance.md
Owners: @MicrosoftDocs/azure-devops-repos-content-approvers

Mermaid release notes link
  docs/project/wiki/wiki-markdown-guidance.md
Owners: @MicrosoftDocs/azure-devops-repos-content-approvers

CODEOWNERS:

*  @MicrosoftDocs/azure-devops-content-team

/docs/pipelines/**  @MicrosoftDocs/azure-devops-pipelines-content-approvers 
/docs/repos/**  @MicrosoftDocs/azure-devops-repos-content-approvers
/docs/integrate/**  @MicrosoftDocs/azure-devops-integrate-approvers
/docs/marketplace/**  @MicrosoftDocs/azure-devops-integrate-approvers
/docs/report/**  @MicrosoftDocs/azure-devops-report-content-approvers
/docs/service-hooks/**  @MicrosoftDocs/azure-devops-integrate-approvers
/docs/boards/**  @MicrosoftDocs/azure-devops-boards-content-approvers
/docs/project/**  @MicrosoftDocs/azure-devops-repos-content-approvers
/docs/deploy-azure/**  @MicrosoftDocs/azure-devops-repos-content-approvers
/docs/notifications/**  @MicrosoftDocs/azure-devops-collaborate-content-approvers
/docs/organizations/accounts/**  @MicrosoftDocs/azure-devops-setup-admin-approvers
/docs/organizations/settings/**  @MicrosoftDocs/azure-devops-setup-admin-approvers
/docs/organizations/billing/**  @MicrosoftDocs/azure-devops-setup-admin-approvers
/release-notes/**  @MicrosoftDocs/azure-devops-release-notes-approvers
/docs/organizations/security/**  @MicrosoftDocs/azure-devops-setup-admin-approvers 
/.openpublishing.publish.config.json  @MicrosoftDocs/azure-devops-content-release-managers
/docs/docfx.json  @MicrosoftDocs/azure-devops-content-release-managers
/docs/test/**  @MicrosoftDocs/azure-devops-test-docs-approvers
/docs/artifacts/**  @MicrosoftDocs/azure-devops-artifacts-content-approvers
